<div class="card-container">
    <div class="card-container-body d-flex flex-column flex-wrap flex-shrink-0 flex-grow-1">
        <span class="mat-h1 font-weight-bold mb-2">
            {{ 'GuildStats.GuildStats' | translate }}
        </span>
        <div class="w-100 d-flex flex-row flex-wrap" *ngIf="stats.loading || stats.content">
            <div class="mr-3">
                <span>{{ 'Cases' | translate }}</span>
                <span class="d-block mat-h1 mb-0" *ngIf="stats.content">{{ stats.content?.caseCount }}</span>
                <span class="d-block mat-h1 mb-0 waiting-for-text" style="width: 40px;" *ngIf="!stats.content"></span>
            </div>
            <div class="mr-3">
                <span>{{ 'Punishments' | translate }}</span>
                <span class="d-block mat-h1 mb-0" *ngIf="stats.content">{{ stats.content?.activeCount }}</span>
                <span class="d-block mat-h1 mb-0 waiting-for-text" style="width: 40px;" *ngIf="!stats.content"></span>
            </div>
            <div class="mr-3">
                <span>{{ 'Bans' | translate }}</span>
                <span class="d-block mat-h1 mb-0" *ngIf="stats.content">{{ stats.content?.activeBanCount }}</span>
                <span class="d-block mat-h1 mb-0 waiting-for-text" style="width: 40px;" *ngIf="!stats.content"></span>
            </div>
            <div class="mr-3">
                <span>{{ 'Mutes' | translate }}</span>
                <span class="d-block mat-h1 mb-0" *ngIf="stats.content">{{ stats.content?.activeMuteCount }}</span>
                <span class="d-block mat-h1 mb-0 waiting-for-text" style="width: 40px;" *ngIf="!stats.content"></span>
            </div>
            <div class="mr-3">
                <span>{{ 'Automoderations' | translate }}</span>
                <span class="d-block mat-h1 mb-0" *ngIf="stats.content">{{ stats.content?.moderationCount }}</span>
                <span class="d-block mat-h1 mb-0 waiting-for-text" style="width: 40px;" *ngIf="!stats.content"></span>
            </div>
            <div class="mr-3">
                <span>{{ 'Invites' | translate }}</span>
                <span class="d-block mat-h1 mb-0" *ngIf="stats.content">{{ stats.content?.trackedInvites }}</span>
                <span class="d-block mat-h1 mb-0 waiting-for-text" style="width: 40px;" *ngIf="!stats.content"></span>
            </div>
            <div class="mr-3">
                <span>{{ 'Usernotes' | translate }}</span>
                <span class="d-block mat-h1 mb-0" *ngIf="stats.content">{{ stats.content?.userNotes }}</span>
                <span class="d-block mat-h1 mb-0 waiting-for-text" style="width: 40px;" *ngIf="!stats.content"></span>
            </div>
            <div class="mr-3">
                <span>{{ 'Usermaps' | translate }}</span>
                <span class="d-block mat-h1 mb-0" *ngIf="stats.content">{{ stats.content?.userMappings }}</span>
                <span class="d-block mat-h1 mb-0 waiting-for-text" style="width: 40px;" *ngIf="!stats.content"></span>
            </div>
            <div class="mr-3">
                <span>{{ 'Comments' | translate }}</span>
                <span class="d-block mat-h1 mb-0" *ngIf="stats.content">{{ stats.content?.comments }}</span>
                <span class="d-block mat-h1 mb-0 waiting-for-text" style="width: 40px;" *ngIf="!stats.content"></span>
            </div>
        </div>
        <mat-spinner *ngIf="stats.loading"></mat-spinner>
        <div *ngIf="!stats.loading && !stats.content">
            <span>{{ 'GuildStats.FailedToLoad' | translate }}</span>
        </div>
    </div>
</div>