@font-face {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2'), local('Helvetica Neue'), local('sans-serif');
  font-display: swap;
}

html, body { height: 100%; }
body { margin: 0;  }

* {
  scrollbar-width: 8px;
  scrollbar-color: rgb(48, 48, 48) rgba(0, 0, 0, 0.9);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgb(48, 48, 48);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  border: 3px solid rgb(48, 48, 48);
}
  
.mat-drawer-inner-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

  
.waiting-for-text {
  background-color: #1f1d1d;
  border-radius: 2rem;
  padding: 0.5rem;
}

.crs-ptr {
  cursor: pointer;
}

.toast-container .ngx-toastr {
  box-shadow: none !important;
}

.cw-50-75 {
  width: 50% !important;
}

.cw-75-100 {
  width: 75% !important;
}

.dp-on-big-screen {
  display: block !important;
}

@media screen and (max-width: 600px) {
  .conditional-fc {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    align-items: center!important;
  }
  .conditional-center {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .conditional-il {
    order: 98;
  }
  .cw-50-75 {
    width: 75% !important
  }
  .cw-75-100 {
    width: 100% !important;
  }
  .dp-on-big-screen {
    display: none !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.card-container-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.card-container, .moderation-without-hover {
  font-weight: 400;
  border: 0;
  border-radius: 5px;
  background-color: #424242;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.case-container .case-container, .card-container .card-container, .card-container .case-container, .card-container .moderation-without-hover {
  background-color: #303030;
}

.text-black-50 {
  color: rgba(232, 230, 227, 0.7) !important
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
