@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();

$my-app-primary: mat.define-palette(mat.$red-palette, 800, 900, A700);
$my-app-accent:  mat.define-palette(mat.$pink-palette, 500, 900, A100);
$my-app-warn:    mat.define-palette(mat.$deep-orange-palette);

$my-app-theme: mat.define-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include mat.all-component-themes($my-app-theme);


.primary-color {
    color: mat.get-color-from-palette($my-app-primary);
}
  
.accent-color {
    color: mat.get-color-from-palette($my-app-accent);
}

.warn-color {
    color: mat.get-color-from-palette($my-app-warn);
}

.warn-bg-color {
    background-color: mat.get-color-from-palette($my-app-warn);
}

.accent-bg-color {
    background-color: mat.get-color-from-palette($my-app-accent);
}

.primary-bg-color {
    background-color: mat.get-color-from-palette($my-app-primary);
}
