<div class="card-container">
    <div class="card-container-body d-flex flex-column flex-wrap flex-shrink-0 flex-grow-1">
        <span class="mat-h1 font-weight-bold mb-2">
            {{ 'DashboardComments.Newestcomments' | translate }}
        </span>
        <mat-spinner *ngIf="this.comments.loading"></mat-spinner>
        <div *ngIf="!this.comments.loading && this.comments.content" class="w-100 d-flex flex-column">
            <app-comments-card-compact *ngFor="let comment of this.comments.content" [entry]="comment" class="mb-1 flex-grow-1" ></app-comments-card-compact>
        </div>
        <div *ngIf="!this.comments.loading && this.comments.content?.length === 0">
            <span>{{ 'DashboardComments.NothingFound' | translate }}</span>
        </div>
    </div>
</div>