<div style="height: 50px;" class="dp-on-big-screen"></div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-left cw-75-100">
        <div class="d-flex flex-column p-4 mt-2">
            <mat-spinner *ngIf="appeal.loading || !appeal.content"></mat-spinner>
            <ng-container *ngIf="!appeal.loading && appeal.content">
                <!-- Header -->
                <div class="d-flex flex-row align-items-center mb-3">
                    <div class="crs-ptr" style="font-size: 56px;" routerLink="/guilds/{{ this.guildId }}" title="back to guild">
                        <mat-icon [inline]="true">arrow_back_ios</mat-icon>
                    </div>
                    <img *ngIf="this.appeal.content?.user"
                        class="rounded-circle z-depth-0 mr-1"
                        [attr.src]="this.appeal.content?.user?.imageUrl"
                        alt="avatar"
                        height="140"
                        onerror="this.src='/assets/img/default_profile.png';" />
                    <div class="d-flex flex-column ml-2">
                        <div class="d-flex flex-row align-items-center mb-1">
                            <span class="badge mat-display-1 font-weight-bold mb-0 mr-1 p-2"
                                style="padding: .1rem .4rem"
                                [class.badge-primary]="appeal.content.status === AppealStatus.Pending"
                                [class.badge-success]="appeal.content.status === AppealStatus.Approved"
                                [class.badge-danger]="appeal.content.status === AppealStatus.Denied">
                                {{ status }}
                            </span>
                            <span class="mat-display-3 mb-0" style="word-break: break-all;">
                                {{ this.appeal.content?.user?.username || this.appeal.content?.username }}#{{ this.appeal.content?.user?.discriminator || this.appeal.content?.discriminator }}
                            </span>
                        </div>
                        <span class="text-black-50">
                            {{ this.appeal.content?.userId }}
                        </span>
                        <app-date-display [date]="this.appeal.content?.createdAt" [showTime]="true" [prefixKey]="'AppealView.CreatedAt'"></app-date-display>
                        <app-date-display [date]="this.appeal.content?.updatedAt" [showTime]="true" [prefixKey]="'AppealView.UpdatedAt'" *ngIf="this.appeal.content?.createdAt !== this.appeal.content?.updatedAt"></app-date-display>
                    </div>
                </div>

                <!-- Latest cases -->
                <div class="d-flex flex-column" *ngIf="this.appeal.content.latestCases.length !== 0">
                    <div class="mat-h1 mb-1">
                        {{ 'AppealView.LatestCases' | translate }}
                    </div>
                    <app-modcase-card *ngFor="let case of this.appeal.content.latestCases"
                        [entry]="case" class="mb-2">
                    </app-modcase-card>
                    <mat-divider class="mt-4"></mat-divider>
                </div>

                <!-- Answers -->
                <div class="d-flex flex-column mt-4">
                    <app-guild-appeal-question *ngFor="let answer of this.appeal.content.answers"
                        [answer]="answer"
                        [question]="getQuestionByAnswer(answer)"
                        [mode]="AppealStructureMode.VIEW"
                        class="mb-2"></app-guild-appeal-question>
                </div>

                <mat-divider class="my-4"></mat-divider>

                <!-- Decision -->
                <div class="card-container flex-grow-1">
                    <div class="card-container-body d-flex flex-column">
                        <div class="mat-h1 font-weight-bold mb-1" *ngIf="this.appeal.content?.createdAt !== this.appeal.content?.updatedAt">
                            <app-date-display [date]="this.appeal.content.updatedAt"
                                              [showTime]="false"
                                              [prefixKey]="'AppealView.ModeratorsDecisionAt'"></app-date-display>
                        </div>
                        <div class="d-flex flex-row mt-4">
                            <div class="flex-grow-1"></div>
                            <span class="badge mat-display-2 flex-grow-1 font-weight-bold mb-0 mr-1 p-2"
                                style="padding: .1rem .4rem"
                                [class.badge-primary]="appeal.content.status === AppealStatus.Pending"
                                [class.badge-success]="appeal.content.status === AppealStatus.Approved"
                                [class.badge-danger]="appeal.content.status === AppealStatus.Denied">
                                {{ status }}
                            </span>
                            <div class="flex-grow-1"></div>
                        </div>
                        <ng-container *ngIf="this.appeal.content?.createdAt !== this.appeal.content?.updatedAt">
                            <div class="mat-h1 font-weight-bold mt-4 mb-1">
                                {{ 'AppealView.ModeratorsComment' | translate }}
                            </div>
                            <div class="mat-h3 mb-0 text-monospace" style="white-space: pre-wrap; word-wrap: break-word">
                                {{ appeal.content.moderatorComment }}
                            </div>
                            <div *ngIf="appeal.content.status === AppealStatus.Denied">
                                <div class="mat-h1 font-weight-bold mt-4 mb-1">
                                    {{ 'AppealView.NewAppeal' | translate }}
                                </div>
                                <div class="mat-h3 mb-0" *ngIf="appeal.content.userCanCreateNewAppeals === null">
                                    {{ 'AppealView.UserIsNeverAllowedToCreateNewAppeal' | translate }}
                                </div>
                                <div class="mat-h3 mb-0" *ngIf="appeal.content.userCanCreateNewAppeals !== null">
                                    <app-date-display [date]="appeal.content.userCanCreateNewAppeals"
                                                      [showTime]="true"
                                                      [prefixKey]="'AppealView.UserIsAllowedToCreateNewAppealAt'"></app-date-display>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <!-- Edit decision -->
                <mat-divider class="my-4" *ngIf="isModOrHigher"></mat-divider>

                <div class="card-container flex-grow-1" *ngIf="isModOrHigher">
                    <form [formGroup]="editForm" class="card-container-body d-flex flex-column">
                        <div class="mat-h1 font-weight-bold mb-1">
                            {{ 'AppealView.Edit' | translate }}
                        </div>
                        <div class="d-flex flex-column w-50">
                            <mat-form-field class="mb-2">
                                <mat-label>{{ 'AppealView.Status' | translate }}</mat-label>
                                <mat-select formControlName="status">
                                    <mat-option *ngFor="let enum of statusEnum"
                                                [value]="enum.key"
                                                [disabled]="enum.key === AppealStatus.Pending">
                                                    {{ enum.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="mb-2">
                                <mat-label>{{ 'AppealView.ModeratorsComment' | translate }}</mat-label>
                                <textarea matInput type="text" formControlName="moderatorComment" rows="{{moderatorCommentInitRows}}"></textarea>
                            </mat-form-field>
                            <ng-container *ngIf="newStatus?.value === AppealStatus.Denied">
                                <mat-checkbox formControlName="neverAllowed"
                                            [labelPosition]="'after'">
                                        {{ 'AppealView.UserIsNeverAllowedToCreateNewAppeal' | translate }}
                                </mat-checkbox>
                                <app-date-picker *ngIf="!neverAllowed?.value"
                                                class="mb-2"
                                                [dateChangedInParent]="scheduledForChangedForPicker"
                                                (dateChanged)="dateChanged($event)"></app-date-picker>
                            </ng-container>
                            <button mat-raised-button color="accent"
                                class="w-50"
                                [disabled]="newComment?.invalid ||
                                            !newComment?.value ||
                                            newStatus?.value === AppealStatus.Pending ||
                                            (!neverAllowed?.value && !allowedAt?.value)"
                                (click)="update()">
                                {{ 'AppealView.Edit' | translate }}
                            </button>
                        </div>
                    </form>
                </div>
            </ng-container>
        </div>
    </div>
</div>
