version: '2.2'

volumes:
  mysql:
  filehost:

services:
  db:
    container_name: masz_db
    image: mysql:8.0
    volumes:
        - mysql:/var/lib/mysql
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_PORT=${MYSQL_PORT}
      - MYSQL_ROOT_HOST=%
    expose:
      - "3306"
    healthcheck:
            test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
            timeout: 20s
            retries: 10
    networks:
      - appnetwork

  backend:
    build: 
      context: backend
      args: 
        - MYSQL_DATABASE=${MYSQL_DATABASE}
        - MYSQL_USER=${MYSQL_USER}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        - MYSQL_PORT=${MYSQL_PORT}
        - MYSQL_HOST=db
        - DISCORD_BOT_TOKEN=${DISCORD_BOT_TOKEN}
        - DISCORD_OAUTH_CLIENT_ID=${DISCORD_OAUTH_CLIENT_ID}
        - DISCORD_OAUTH_CLIENT_SECRET=${DISCORD_OAUTH_CLIENT_SECRET}
        - DISCORD_SITE_ADMINS=${DISCORD_SITE_ADMINS}
        - META_SERVICE_BASE_URL=${META_SERVICE_BASE_URL}
    container_name: masz_backend
    depends_on:
        db:
          condition: service_healthy
    restart: unless-stopped
    environment:
      - ENABLE_DEMO_MODE=${ENABLE_DEMO_MODE}
      - BOT_PREFIX=${BOT_PREFIX}
    networks:
      - appnetwork
    volumes:
      - filehost:/filehost

  nginx:
    build: 
      context: nginx
      args:
        - DEPLOY_DOMAIN=${DEPLOY_DOMAIN}
    container_name: masz_nginx
    restart: unless-stopped
    depends_on:
        - db
        - backend
    restart: unless-stopped
    ports:
      - "127.0.0.1:5565:80"
    networks:
    - appnetwork

  discordbot:
    build: discordbot
    container_name: masz_discordbot
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    networks:
      - appnetwork
    environment:
      - BOT_PREFIX=${BOT_PREFIX}
      - DISCORD_BOT_TOKEN=${DISCORD_BOT_TOKEN}
      - META_SERVICE_BASE_URL=${META_SERVICE_BASE_URL}
      - MYSQL_HOST=db
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_PORT=${MYSQL_PORT}
      - DISCORD_SITE_ADMINS=${DISCORD_SITE_ADMINS}

  invitationtracker:
    build: invitationtracker
    container_name: masz_invitationtracker
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    networks:
      - appnetwork
    environment:
      - DISCORD_BOT_TOKEN=${DISCORD_BOT_TOKEN}
      - MYSQL_HOST=db
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_PORT=${MYSQL_PORT}

networks:
  appnetwork:
    driver: bridge
