.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
  
.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
  
h1.example-app-name {
  margin-left: 8px;
}
  
.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
        causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}
  
.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
        `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-nav-list mat-icon,
mat-nav-list a app-guild-icon,
mat-nav-list a img {
  margin-right: 15px;
}

mat-nav-list mat-expansion-panel {
  box-shadow: none;
}

mat-nav-list mat-expansion-panel mat-expansion-panel-header {
  padding-left: 0!important;
}

mat-nav-list mat-expansion-panel mat-expansion-panel-header.mat-expanded {
  height: inherit;
}

:host ::ng-deep mat-nav-list mat-expansion-panel .mat-expansion-panel-body {
  padding-bottom: 0;
  padding-top: 0;
}

:host ::ng-deep mat-nav-list mat-expansion-panel .mat-expansion-panel-body .navitem.no-p{
  padding-right: 0;
}

.activatedNav {
  background-color: rgb(169, 20, 9);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 20px 0px, rgba(169, 20, 9, 0.4) 0px 7px 10px -5px;
}

.navitem:not(.activatedNav):not(.nohover):hover {
  background-color: rgba(55, 60, 62, 0.623);
  box-shadow: none;
}

.navitem {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  margin: 0.3rem;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border-radius: .25rem !important;
  cursor: pointer;
  width: 15rem;
}

.nohover {
  cursor: unset;
}

/* weird stuff inside of mat inputs */
::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}

/* remove scrollbar in dialogs */
::ng-deep mat-dialog-container mat-form-field .mat-form-field-wrapper {
  margin-bottom: 0;
}
