<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="this.mobileQuery.matches">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{ title }}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" autosize>
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="h-100 d-flex flex-column">
        <a class="d-flex crs-ptr" (click)="open('guilds')">
          <div class="rounded navitem nohover">
            <img class="rounded-circle" width="24px" height="24px" alt="icon" [attr.src]="applicationInfo?.iconUrl ?? 'favicon.ico'"/>
            <span>{{ applicationInfo?.name ?? 'MASZ' }}</span>
          </div>
        </a>

        <a>
          <div class="rounded navitem w-100">
            <mat-icon aria-hidden="false" aria-label="tune icon">language</mat-icon>
            <mat-select [value]="currentAppSettings.language" #langSelect (selectionChange)="changeLanguage(langSelect.value)">
              <mat-option *ngFor="let lang of languages" [value]="lang.language">{{ lang.displayName }}</mat-option>
            </mat-select>
          </div>
        </a>

        <a>
          <div class="rounded navitem w-100">
            <mat-icon aria-hidden="false" aria-label="tune icon">more_time</mat-icon>
            <mat-select [value]="currentAppSettings.timezone" #zoneSelect (selectionChange)="changeTimezone(zoneSelect.value)">
              <mat-option *ngFor="let zone of timezones" [value]="zone">{{ zone }}</mat-option>
            </mat-select>
          </div>
        </a>

        <mat-expansion-panel class="flex-shrink-0" *ngIf="this.currentUser && loggedIn">
          <mat-expansion-panel-header>
            <a class="d-flex">
              <div class="rounded navitem nohover">
                <img width="24px" height="24px" src="{{ this.currentUser?.discordUser?.imageUrl }}" alt="user icon" class="rounded-circle"/>
                <span>{{ this.currentUser?.discordUser?.username }}#{{ this.currentUser?.discordUser?.discriminator }}</span>
              </div>
            </a>
          </mat-expansion-panel-header>

          <a class="d-flex" href="/api/v1/logout">
            <div class="rounded navitem">
              <mat-icon aria-hidden="false" aria-label="tune icon">logout</mat-icon>
              <span>{{ 'Toolbar.Logout' | translate }}</span>
            </div>
          </a>
        </mat-expansion-panel>

        <a class="d-flex" (click)="open('login')" *ngIf="!loggedIn">
          <div [class.activatedNav]="activatedNav[1].startsWith('login') || activatedNav[1] === ''" class="rounded navitem">
            <mat-icon aria-hidden="false" aria-label="tune icon">login</mat-icon>
            <span>{{ 'Toolbar.Login' | translate }}</span>
          </div>
        </a>

        <mat-divider *ngIf="this.currentUser && loggedIn"></mat-divider>

        <a class="d-flex" (click)="open('guilds')" *ngIf="this.currentUser && loggedIn">
          <div [class.activatedNav]="activatedNav[1] === 'guilds' && (activatedNav[2] === 'new' || activatedNav[2] === undefined)" class="rounded navitem pr-1">
            <mat-icon aria-hidden="false" aria-label="group icon">group</mat-icon>
            <span>{{ 'Guilds.All' | translate }}</span>
            <div class="flex-grow-1"></div>
            <mat-icon class="align-self-end mr-2" aria-hidden="false" aria-label="group icon"
             (click)="open('guilds', 'new'); $event.stopPropagation()" *ngIf="this.currentUser.isAdmin">
              add
            </mat-icon>
          </div>
        </a>

        <!-- Admin Guild -->
        <!-- #################################################################################################################################################### -->
        <mat-expansion-panel class="flex-shrink-0" *ngIf="this.currentUser && loggedIn && this.currentUser?.adminGuilds?.length">
          <mat-expansion-panel-header>
            <a class="d-flex">
              <div class="rounded navitem nohover">
                <mat-icon aria-hidden="false" aria-label="group icon">security</mat-icon>
                <span>{{ 'Guilds.Admin' | translate }}</span>
              </div>
            </a>
          </mat-expansion-panel-header>
          <a class="d-flex" (click)="open('guilds', guild.id)" *ngFor="let guild of this.currentUser.adminGuilds">
            <div [class.activatedNav]="activatedNav[1] === 'guilds' && activatedNav[2] === guild.id" class="d-flex flex-row rounded navitem no-p">
              <app-guild-icon [guild]="guild" [showBorder]="false"></app-guild-icon>
              <span class="text-break">{{ guild.name }}</span>
              <div class="flex-grow-1"></div>
              <mat-icon class="align-self-end mr-2" aria-hidden="false" aria-label="group icon" (click)="open('guilds', guild.id, 'edit'); $event.stopPropagation()">
                edit
              </mat-icon>
              <mat-icon class="align-self-end mr-2" aria-hidden="false" aria-label="group icon"
                *ngIf="this.currentUser.isAdmin" (click)="deleteGuild(guild); $event.stopPropagation()">
                delete
              </mat-icon>
            </div>
          </a>
        </mat-expansion-panel>

        <!-- Mod Guild -->
        <!-- #################################################################################################################################################### -->
        <mat-expansion-panel class="flex-shrink-0" *ngIf="this.currentUser && loggedIn && this.currentUser?.modGuilds?.length">
          <mat-expansion-panel-header>
            <a class="d-flex">
              <div class="rounded navitem nohover">
                <mat-icon aria-hidden="false" aria-label="group icon">verified_user</mat-icon>
                <span>{{ 'Guilds.Moderator' | translate }}</span>
              </div>
            </a>
          </mat-expansion-panel-header>
          <a class="d-flex" (click)="open('guilds', guild.id)" *ngFor="let guild of this.currentUser.modGuilds">
            <div [class.activatedNav]="activatedNav[1] === 'guilds' && activatedNav[2] === guild.id" class="d-flex flex-row rounded navitem no-p">
              <app-guild-icon [guild]="guild" [showBorder]="false"></app-guild-icon>
              <span class="text-break" [class.pr-2]="!this.currentUser.isAdmin">{{ guild.name }}</span>
              <div class="flex-grow-1"></div>
              <ng-container *ngIf="this.currentUser.isAdmin">
                <mat-icon class="align-self-end mr-2" aria-hidden="false" aria-label="group icon" (click)="open('guilds', guild.id, 'edit'); $event.stopPropagation()">
                  edit
                </mat-icon>
                <mat-icon class="align-self-end mr-2" aria-hidden="false" aria-label="group icon" (click)="deleteGuild(guild); $event.stopPropagation()">
                  delete
                </mat-icon>
              </ng-container>
            </div>
          </a>
        </mat-expansion-panel>

        <!-- User Guild -->
        <!-- #################################################################################################################################################### -->
        <mat-expansion-panel class="flex-shrink-0" *ngIf="this.currentUser && loggedIn && this.currentUser?.memberGuilds?.length">
          <mat-expansion-panel-header>
            <a class="d-flex">
              <div class="rounded navitem nohover">
                <mat-icon aria-hidden="false" aria-label="group icon">account_circle</mat-icon>
                <span>{{ 'Guilds.Member' | translate }}</span>
              </div>
            </a>
          </mat-expansion-panel-header>
          <a class="d-flex" (click)="open('guilds', guild.id)" *ngFor="let guild of this.currentUser.memberGuilds">
            <div [class.activatedNav]="activatedNav[1] === 'guilds' && activatedNav[2] === guild.id" class="d-flex flex-row rounded navitem no-p">
              <app-guild-icon [guild]="guild" [showBorder]="false"></app-guild-icon>
              <span class="text-break" [class.pr-2]="!this.currentUser.isAdmin">{{ guild.name }}</span>
              <div class="flex-grow-1"></div>
              <ng-container *ngIf="this.currentUser.isAdmin">
                <mat-icon class="align-self-end mr-2" aria-hidden="false" aria-label="group icon" (click)="open('guilds', guild.id, 'edit'); $event.stopPropagation()">
                  edit
                </mat-icon>
                <mat-icon class="align-self-end mr-2" aria-hidden="false" aria-label="group icon" (click)="deleteGuild(guild); $event.stopPropagation()">
                  delete
                </mat-icon>
              </ng-container>
            </div>
          </a>
        </mat-expansion-panel>

        <!-- Banned from Guild -->
        <!-- #################################################################################################################################################### -->
        <mat-expansion-panel class="flex-shrink-0" *ngIf="this.currentUser && loggedIn && this.currentUser?.bannedGuilds?.length">
          <mat-expansion-panel-header>
            <a class="d-flex">
              <div class="rounded navitem nohover">
                <mat-icon aria-hidden="false" aria-label="group icon">block</mat-icon>
                <span>{{ 'Guilds.Banned' | translate }}</span>
              </div>
            </a>
          </mat-expansion-panel-header>
          <a class="d-flex" (click)="open('guilds', guild.id)" *ngFor="let guild of this.currentUser.bannedGuilds">
            <div [class.activatedNav]="activatedNav[1] === 'guilds' && activatedNav[2] === guild.id" class="d-flex flex-row rounded navitem no-p">
              <app-guild-icon [guild]="guild" [showBorder]="false"></app-guild-icon>
              <span class="text-break" [class.pr-2]="!this.currentUser.isAdmin">{{ guild.name }}</span>
              <div class="flex-grow-1"></div>
              <ng-container *ngIf="this.currentUser.isAdmin">
                <mat-icon class="align-self-end mr-2" aria-hidden="false" aria-label="group icon" (click)="open('guilds', guild.id, 'edit'); $event.stopPropagation()">
                  edit
                </mat-icon>
                <mat-icon class="align-self-end mr-2" aria-hidden="false" aria-label="group icon" (click)="deleteGuild(guild); $event.stopPropagation()">
                  delete
                </mat-icon>
              </ng-container>
            </div>
          </a>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <a class="d-flex" (click)="open('scanning')"
         *ngIf="this.currentUser?.modGuilds?.length || this.currentUser?.adminGuilds?.length || this.currentUser?.isAdmin">
          <div [class.activatedNav]="activatedNav[1] === 'userscan' || activatedNav[1] === 'scanning'" class="rounded navitem">
            <mat-icon aria-hidden="false" aria-label="tune icon">person_search</mat-icon>
            <span>{{ 'Toolbar.Scanning' | translate }}</span>
          </div>
        </a>

        <mat-divider *ngIf="this.currentUser?.modGuilds?.length || this.currentUser?.adminGuilds?.length"></mat-divider>

        <a class="d-flex" (click)="open('tokens')" *ngIf="this.currentUser?.isAdmin">
          <div [class.activatedNav]="activatedNav[1] === 'tokens'" class="rounded navitem">
            <mat-icon aria-hidden="false" aria-label="tune icon">api</mat-icon>
            <span>{{ 'Toolbar.API' | translate }}</span>
          </div>
        </a>
        <a class="d-flex" (click)="open('adminstats')" *ngIf="this.currentUser?.isAdmin">
          <div [class.activatedNav]="activatedNav[1] === 'adminstats'" class="rounded navitem">
            <mat-icon class="flex-shrink-0" aria-hidden="false" aria-label="tune icon">insights</mat-icon>
            <span class="flex-grow-1">{{ 'Toolbar.Insights' | translate }}</span>
            <mat-icon class="flex-shrink-0 mr-0" *ngIf="newVersionFound | async"
              [class.text-warning]="activatedNav[1] !== 'adminstats'"
              aria-hidden="false" aria-label="tune icon">
              notifications
            </mat-icon>
          </div>
        </a>
        <a class="d-flex" (click)="open('settings')" *ngIf="this.currentUser?.isAdmin">
          <div [class.activatedNav]="activatedNav[1] === 'settings'" class="rounded navitem">
            <mat-icon aria-hidden="false" aria-label="tune icon">settings</mat-icon>
            <span>{{ 'Toolbar.Settings' | translate }}</span>
          </div>
        </a>
        <a class="d-flex" (click)="open('patchnotes')">
          <div [class.activatedNav]="activatedNav[1] === 'patchnotes'" class="rounded navitem">
            <mat-icon aria-hidden="false" aria-label="tune icon">update</mat-icon>
            <span>{{ 'Toolbar.Patchnotes' | translate }}</span>
          </div>
        </a>
        <a class="d-flex" (click)="open('donate')">
          <div [class.activatedNav]="activatedNav[1] === 'donate'" class="rounded navitem">
            <mat-icon aria-hidden="false" aria-label="tune icon">forum</mat-icon>
            <span>{{ 'Toolbar.Community' | translate }}</span>
          </div>
        </a>

        <ng-container *ngIf="applicationInfo?.termsOfServiceUrl; else elseTemplateToS">
          <a class="d-flex" href="{{ applicationInfo?.termsOfServiceUrl }}" target="_blank">
            <div [class.activatedNav]="activatedNav[1] === 'guidelines'" class="rounded navitem">
              <mat-icon aria-hidden="false" aria-label="tune icon">policy</mat-icon>
              <span>{{ 'Toolbar.Terms' | translate }}</span>
            </div>
          </a>
        </ng-container>
        <ng-template #elseTemplateToS>
          <a class="d-flex" (click)="open('guidelines')">
            <div [class.activatedNav]="activatedNav[1] === 'guidelines'" class="rounded navitem">
              <mat-icon aria-hidden="false" aria-label="tune icon">policy</mat-icon>
              <span>{{ 'Toolbar.Terms' | translate }}</span>
            </div>
          </a>
        </ng-template>

        <a class="d-flex" target="_blank" [attr.href]="applicationInfo?.privacyPolicyUrl ?? 'legal.html'">
          <div class="rounded navitem">
            <mat-icon aria-hidden="false" aria-label="legal notes">gavel</mat-icon>
            <span>{{ 'Toolbar.Legal' | translate }}</span>
          </div>
        </a>

        <span class="flex-grow-1"></span>

        <a class="d-flex" href="https://github.com/zaanposni/discord-masz" target="_blank" rel="noreferrer">
          <div class="rounded navitem text-black-50">
            <mat-icon aria-hidden="false" aria-label="github link" svgIcon="githublogo"></mat-icon>
            <span>© MASZ by zaanposni</span>
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div style="display: none">
    <nav>
    </nav>
    <main id="maincontent">
    </main>
    <a class="skip-link" href="#maincontent">Skip to main</a>
  </div>
</div>
