[*.cs]

# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = none

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none
