.pictures-parent {
    position: relative;
    top: 0;
    left: 0;
}

.user-a-image {
    position: relative;
    top: 0;
    left: 0;
}

.user-b-image {
    position: absolute;
    top: 0;
    left: 48px;
}

.mod-image {
    position: absolute;
    top: 56px;
    left: 104px;
}

.card-container {
    margin: unset!important;
}