<div class="card-container">
    <div class="card-container-body d-flex conditional-fc">
        <!-- Profile picture -->
        <div class="pictures-parent" style="margin-right: 58px;">
            <img
                src="{{ userMap.userA?.imageUrl }}"
                class="rounded-circle z-depth-0 user-a-image"
                alt="avatar image"
                height="96"
                title="SuspectA {{ userMap.userMapping.userA }}"
                onerror="this.src='/assets/img/default_profile.png';"
            />
            <img
                src="{{ userMap.userB?.imageUrl }}"
                class="rounded-circle z-depth-0 user-b-image"
                alt="avatar image"
                height="96"
                title="SuspectB {{ userMap.userMapping.userB }}"
                onerror="this.src='/assets/img/default_profile.png';"
            />
            <img
                src="{{ userMap.moderator?.imageUrl }}"
                class="rounded-circle z-depth-0 mod-image"
                alt="avatar image"
                height="40"
                title="Moderator {{ userMap.userMapping.creatorUserId }}"
                onerror="this.src='/assets/img/default_profile.png';"
            />
        </div>
        <div class="flex-shrink-1 d-flex flex-column flex-wrap pr-2">
            <!-- Title -->
            <div>
                <span title="{{ userMap.userMapping.userA }}" class="mat-h2 mb-0">
                    <span *ngIf="userMap.userA">
                        {{ userMap.userA?.username }}#{{ userMap.userA?.discriminator }}
                    </span>
                    <span *ngIf="!userMap.userA">
                        {{ userMap.userMapping.userB }}
                    </span>
                     -
                    <span *ngIf="userMap.userB">
                        {{ userMap.userB?.username }}#{{ userMap.userB?.discriminator }}
                    </span>
                    <span *ngIf="!userMap.userB">
                        {{ userMap.userMapping.userB }}
                    </span>
                </span>
            </div>

            <!-- Text -->
            <span title="{{ userMap.userMapping.reason }}" style="white-space: pre-wrap; word-wrap: anywhere">
                {{ userMap.userMapping.reason }}
            </span>
        </div>
        <div class="flex-grow-1"></div>
        <div class="d-flex flex-column align-content-center flex-shrink-0">
            <span class="text-black-50" style="text-align: right;">
                <app-date-display [date]="userMap.userMapping.createdAt" [prefixKey]="'UsermapCard.UpdatedPrefix'"></app-date-display>
            </span>
            <div class="flex-grow-1"></div>
            <!-- Button -->
            <button mat-raised-button color="accent" class="mt-2" (click)="editMap()">
                {{ 'UsermapCard.Edit' | translate }}
            </button>
            <button mat-raised-button color="primary" class="mt-2" (click)="deleteMap()" *ngIf="this.showDeleteButton">
                {{ 'UsermapCard.Delete' | translate }}
            </button>
        </div>
    </div>
</div>