<div style="height: 100px;"></div>
<div class="d-flex flex-column align-items-center container">
    <div class="mat-display-1 font-weight-bold" *ngIf="this.currentUser.loading">
      {{ 'GuildList.LoadingGuilds' |translate }}
    </div>
    <mat-spinner *ngIf="this.currentUser.loading"></mat-spinner>

    <!-- Admin guilds -->
    <div class="mat-display-1 mb-2 mt-4 font-weight-bold" *ngIf="this.currentUser?.content?.adminGuilds?.length">
      {{ 'Guilds.Admin' | translate }}
    </div>
    <div class="row w-100 justify-content-center" *ngIf="!this.currentUser.loading">
      <a class="col-sm-2 d-flex flex-column align-items-center p-4 crs-ptr" *ngFor="let guild of currentUser.content?.adminGuilds" routerLink="/guilds/{{ guild.id }}">
        <app-guild-icon [guild]="guild" [width]="'128px'" [height]="'128px'"></app-guild-icon>
        <div class="mat-h3 mb-0 font-weight-bold">{{ guild.name }}</div>
      </a>
    </div>

    <!-- mod guilds -->
    <div class="mat-display-1 mb-2 mt-4 font-weight-bold" *ngIf="this.currentUser?.content?.modGuilds?.length">
      {{ 'Guilds.Moderator' | translate }}
    </div>
    <div class="row w-100 justify-content-center" *ngIf="!this.currentUser.loading">
      <a class="col-sm-2 d-flex flex-column align-items-center p-4 crs-ptr" *ngFor="let guild of currentUser.content?.modGuilds" routerLink="/guilds/{{ guild.id }}">
        <app-guild-icon [guild]="guild" [width]="'128px'" [height]="'128px'"></app-guild-icon>
        <div class="mat-h3 mb-0 font-weight-bold">{{ guild.name }}</div>
      </a>
    </div>

    <!-- member guilds -->
    <div class="mat-display-1 mb-2 mt-4 font-weight-bold" *ngIf="this.currentUser?.content?.memberGuilds?.length">
      {{ 'Guilds.Member' | translate }}
    </div>
    <div class="row w-100 justify-content-center" *ngIf="!this.currentUser.loading">
      <a class="col-sm-2 d-flex flex-column align-items-center p-4 crs-ptr" *ngFor="let guild of currentUser.content?.memberGuilds" routerLink="/guilds/{{ guild.id }}">
        <app-guild-icon [guild]="guild" [width]="'128px'" [height]="'128px'"></app-guild-icon>
        <div class="mat-h3 mb-0 font-weight-bold">{{ guild.name }}</div>
      </a>
    </div>

    <!-- banned guilds -->
    <div class="mat-display-1 mb-2 mt-4 font-weight-bold" *ngIf="this.currentUser?.content?.bannedGuilds?.length">
      {{ 'Guilds.Banned' | translate }}
    </div>
    <div class="row w-100 justify-content-center" *ngIf="!this.currentUser.loading">
      <a class="col-sm-2 d-flex flex-column align-items-center p-4 crs-ptr" *ngFor="let guild of currentUser.content?.bannedGuilds" routerLink="/guilds/{{ guild.id }}">
        <app-guild-icon [guild]="guild" [width]="'128px'" [height]="'128px'"></app-guild-icon>
        <div class="mat-h3 mb-0 font-weight-bold">{{ guild.name }}</div>
      </a>
    </div>

    <ng-container *ngIf="this.currentUser?.content?.bannedGuilds!.length + this.currentUser?.content?.memberGuilds!.length + this.currentUser?.content?.modGuilds!.length + this.currentUser?.content?.adminGuilds!.length === 0">
        <img src="/assets/img/notfound.svg" class="w-50 align-self-center"/>
        <div class="mat-display-1 align-self-center font-weight-bold">
          {{ 'GuildList.NoGuild' | translate }}
        </div>
        <button mat-raised-button *ngIf="this.currentUser?.content?.isAdmin"
          (click)="open('guilds', 'new'); $event.stopPropagation()"
          class="mat-display-2 align-self-center p-4 font-weight-bold" color="accent">
          {{ 'GuildList.AddGuild' | translate }}
        </button>
    </ng-container>
</div>