.great-division {
	flex: 1 0 30%;
	padding: 3rem!important;
}

@media screen and (max-width: 600px) {
    .conditional-fc {
        flex-direction: column !important;
		flex-wrap: nowrap !important;
    }
	.great-division {
		padding: 1rem!important;
	}
	.conditional-center {
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.conditional-il {
		order: 98;
	}
}

.background-div {
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.8), 
			rgba(0, 0, 0, 0.8)
	  	),
		url("/assets/img/background1.webp");
	padding-top: 64px;
}
