<div class="container">
    <div class="d-flex flex-column m-auto justify-content-center align-items-center">
        <div class="d-flex flex-row flex-wrap conditional-fc"  *ngFor="let card of items; let i = index">
            <div class="great-division conditional-il" *ngIf="i % 2 === 0">
                <img src="{{ card.imageSrc }}" alt="{{ card.imageAlt }}" class="w-100"/>
            </div>
            <div class="d-flex flex-column great-division justify-content-center ml-4">
                <div class="mat-display-1 mb-4 font-weight-bold">{{ card.title }}</div>
                <span class="mb-4">{{ card.description }}</span>
                <a mat-raised-button color="primary" class="mb-4" href="{{ card.buttonHref }}" target="_blank" style="text-decoration: none;" *ngIf="card.buttonText">
                    {{ card.buttonText }}
                </a>
            </div>
            <div class="great-division" *ngIf="i % 2 !== 0">
                <img src="{{ card.imageSrc }}" alt="{{ card.imageAlt }}" class="w-100"/>
            </div>
            <mat-divider style="order: 99"></mat-divider>
        </div>
    </div>
</div>