:root {
    --dark-text: #e8e6e3;
    --dark-background: #06090f;
    --dark-border-color: #383d3f;
    --dark-navbar-background: #161b22;
    --dark-footer-background: #0d1117;
    --dark-modal-background: #06090f;
    --dark-card-background: #0d1117;
}
html {
    background-color: var(--dark-background) !important;
}
html, body, input, textarea, select, button {
    background-color: var(--dark-background);
}
html, body, input, textarea, select, button {
    border-color: #736b5e;
    color: var(--dark-text);
}
a {
    color: #3391ff;
}
table {
    border-color: #545b5e;
}
::placeholder {
    color: #b2aba1;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #555b00 !important;
    color: var(--dark-text) !important;
}
::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
}
::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
* {
    scrollbar-color: #202324 #454a4d;
}
::selection {
    background-color: #004daa !important;
    color: var(--dark-text) !important;
}
::-moz-selection {
    background-color: #004daa !important;
    color: var(--dark-text) !important;
}

::placeholder {
    opacity: 0.5 !important;
}

.table, .md-form label, table.table a, .form-control, .form-control:focus, .card .card-body .card-text {
    color: unset !important;
}

.autocomplete-container .input-container input {
    background-color: var(--dark-background);
    border-bottom: 1px solid rgb(56, 61, 63);
    color: var(--dark-text);
}

.autocomplete-container .suggestions-container ul li a {
    background-color: var(--dark-card-background);
    color: var(--dark-text);
}

.autocomplete-container .input-container .x i {
    color: var(--dark-text);
}

.custom-select, .custom-select:focus, input[class*="form-control"], input[class*="form-control:focus"], .dataTables_wrapper .form-control:focus {
    background-color: unset!important;
    border-color: var(--dark-border-color)!important;
    color: unset;
}

.custom-select option {
    background-color: var( --dark-modal-background) !important;
    border-color: var(--dark-border-color)!important;
}

.md-form > .form-control, .md-form > .form-control:focus, .md-form > .md-textarea {
    color: unset !important;
    border-bottom-color: var(--dark-border-color)!important;
}

.text-black-50 {
    color: rgba(232, 230, 227, 0.7) !important;
}

.modal-content {
    background-color: var( --dark-modal-background);
}

.card, .label-box {
    color: var(--dark-text);
    background-color: var(--dark-card-background);
    border-color: #828385;
}

.modal-header, .table thead th{
    border-bottom: 1px solid var(--dark);
}

.table th, .table td {
    border-top-color: var(--dark-border-color);
}

.fa-plus  {
    color: var(--dark) !important;
}

.picker__box {
    background-color: var(--dark-background);
    color: var(--dark-text);
}

.picker__footer > button {
    background-color: var(--dark-background);
    color: var(--dark-text);
}

.picker__day--highlighted {
    background-color: inherit;
    color: inherit;
}

.dropdown-menu, .dropdown-item, .dropdown-item:hover {
    background-color: var(--dark-footer-background);
    color: var(--dark-text);
}

.custom-footer {
    background-color: #1d1f21!important;
}

.nav-link {
    color: var(--dark-text)!important;
}

.nav-link:hover {
    border-color: var(--dark-border-color)!important;
}

.nav-link.active {
    background-color: inherit!important;
    border-color: var(--dark-border-color)!important;
}

.nav-tabs {
    border-color: var(--dark-border-color)!important;
}

.close, .close:hover {
    color: var(--dark-text);
}

.navbar {
    background-color: var(--dark-navbar-background) !important;
}

.badge-danger {
    background-color: rgb(172, 0, 15) !important;
    color: var(--dark-text) !important;
}

.btn-danger {
    background-color: rgb(172, 0, 15) !important;
    color: var(--dark-text) !important;
}

.btn-default {
    background-color: rgb(29, 173, 159) !important;
    color: var(--dark-text) !important;
}

.badge-warning {
    background-color:rgb(230, 160, 20) !important;
    color: var(--dark-text) !important;
}

.badge-dark {
    background-color: #393838 !important;
}

.btn-warning {
	background-color:rgb(230, 160, 20) !important;
    color: var(--dark-text) !important;
}

.badge-primary {
    background-color: rgb(9, 67, 162) !important;
    color: var(--dark-text) !important;
}

.btn-primary {
	background-color: rgb(9, 67, 162) !important;
    color: var(--dark-text) !important;
}

.btn-orange {
	background-color: rgb(196, 99, 0) !important;
    color: var(--dark-text) !important;
}

.badge-success {
	background-color: rgb(0, 160, 65) !important;
    color: var(--dark-text) !important;
}

.btn-success {
	background-color: rgb(0, 160, 65) !important;
    color: var(--dark-text) !important;
}

.login-btn {
    color: var(--dark-modal-background) !important;
    border-color: var(--dark-border-color) !important;
    color: var(--dark-text) !important;
}

#toast-container > div {
    -moz-box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.moderation {
    background-color: var(--dark-card-background);
    color: var(--dark-text);
    border-radius: 15px;
    cursor: pointer;
}

.mod-field {
    background-color: var(--dark-card-background);
    color: var(--dark-text);
}

.mod-exclude-add {
    color: var(--dark-text)!important;
}

.swal2-content, .swal2-title {
    color: var(--dark-text)!important;
}

.swal2-checkbox, .swal2-select {
    background-color: var(--dark-card-background)!important;
    color: var(--dark-text)!important;
}

.swal2-popup {
    background-color: var(--dark-card-background)!important;
}

.swal2-styled.swal2-confirm {
    background-color: rgb(172, 0, 15)!important;
}

.swal2-icon.swal2-warning {
    color: rgb(230, 160, 20)!important;
    border-color: rgb(230, 160, 20)!important;
}

.owl-dt-container {
    background: var(--dark-card-background)!important;
    color: var(--dark-text)!important;
}

.owl-dt-calendar-cell-content, .owl-dt-control-content.owl-dt-control-button-content, .owl-dt-weekday.ng-star-inserted {
    color: var(--dark-text)!important;
}

.case-container, .card-container {
    color: var(--dark-text);
    background-color: var(--dark-card-background);
    border-color: #828385;
}

hr {
    border-top: 1px solid rgb(94, 93, 93);
}

#case-view-description a {
    color: orange;
}
