<div class="d-flex flex-column">
    <div class="mb-5"></div>
    <div class="flex-grow-1 center-container">
        <a class="custom-btn align-self-center m-3 d-flex flex-column flex-wrap justify-content-center bg-dark text-light login-btn"
            href="/api/v1/login?ReturnUrl=">
            <div class="align-self-center justify-content-center text-center w-100 font-weight-bold">LOGIN WITH
                DISCORD
            </div>
            <i class="fab fa-discord fa-9x align-self-center justify-content-center text-center w-100"></i>
        </a>
    </div>

    <div class="d-flex p-2 justify-content-center flex-wrap" id="card-overview">
        <div class="card">
            <div class="view overlay">
                <img class="card-img-top" src="assets/img/masz.png"
                        alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">MASZ - A Discord moderation tool</h5>
                <p class="card-text">
                    MASZ is a management and moderation overview tool for <span class="font-weight-bold">Discord Moderators and Admins</span>.
                    Keep track of all <span class="font-weight-bold">moderation events</span> on your server, <span class="font-weight-bold">search reliably</span> for entries and be one step ahead of trolls and rule breakers.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="view overlay">
                <img class="card-img-top" src="assets/img/clipboard.png"
                        alt="Card image cap">
                <a href="https://github.com/zaanposni/discord-masz/tree/master/docs">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Modcases</h5>
                <p class="card-text">
                    The core of this tool are the modcases,
                    a case represents a <span class="font-weight-bold">rule violation</span>, an <span class="font-weight-bold">important note</span> or similar.
                    The server members and your moderators can be notified individually upon case creation.
                </p>
                <!-- Button -->
                <button onclick="window.location.href = 'https://github.com/zaanposni/discord-masz#preview'" type="button" class="btn btn-purple">
                    <i class="fab fa-github" aria-hidden="true"></i> Preview
                </button>
            </div>
        </div>
        <div class="card">
            <div class="view overlay">
                <img class="card-img-top" src="assets/img/bolt.png"
                        alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Automoderation</h5>
                <p class="card-text">Create and configure <span class="font-weight-bold">rules, filters and actions/punishments</span> for various events that happen on your server. For example you can delete the message and auto mute a user if he posts an discord invite.</p>
            </div>
        </div>
        <div class="card">
            <div class="view overlay">
                <img class="card-img-top" src="assets/img/github.png"
                        alt="Card image cap">
                <a href="https://github.com/zaanposni/discord-masz">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Open Source</h5>
                <p class="card-text">The source code can be found on <span class="font-weight-bold">GitHub</span>. Feel free to check it out. <span class="font-weight-bold">Contributions</span> are welcome!</p>
                <!-- Button -->
                <button onclick="window.location.href = 'https://github.com/zaanposni/discord-masz'" type="button" class="btn btn-purple">
                    <i class="fab fa-github" aria-hidden="true"></i> Read more
                </button>
            </div>
        </div>
        <div class="card">
            <div class="view overlay">
                <img class="card-img-top" src="assets/img/rocket.png"
                        alt="Card image cap">
                <a href="https://github.com/zaanposni/discord-masz#hosting">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Easy to setup</h5>
                <p class="card-text">The application can be hosted using <span class="font-weight-bold">Docker</span>. Follow our step by step guide to <span class="font-weight-bold">setup your own MASZ instance.</span></p>
                <!-- Button -->
                <button onclick="window.location.href = 'https://github.com/zaanposni/discord-masz#hosting'" type="button" class="btn btn-purple">
                    <i class="fab fa-github" aria-hidden="true"></i> Setup guide
                </button>
            </div>
        </div>
        <div class="card">
            <div class="view overlay">
                <img class="card-img-top" src="assets/img/feature.png"
                        alt="Card image cap">
                <a href="https://github.com/zaanposni/discord-masz/releases">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Feature rich</h5>
                <p class="card-text">Check out the GitHub release page to stay up to date with newest features and fixes!</p>
                <!-- Button -->
                <button onclick="window.location.href = 'github.com/zaanposni/discord-masz/releases'" type="button" class="btn btn-purple">
                    <i class="fab fa-github" aria-hidden="true"></i> GitHub
                </button>
            </div>
        </div>
    </div>
</div>
