<div class="d-flex flex-column">
    <div class="mb-5"></div>
    <div class="flex-grow-1 center-container">
        <a class="custom-btn align-self-center m-3 d-flex flex-column flex-wrap justify-content-center bg-dark text-light login-btn"
            href="/api/v1/login?ReturnUrl=">
            <div class="align-self-center justify-content-center text-center w-100 font-weight-bold">LOGIN WITH
                DISCORD
            </div>
            <i class="fab fa-discord fa-9x align-self-center justify-content-center text-center w-100"></i>
        </a>
    </div>

    <div style="height: 200px"></div>

    <div class="infocontainer m-auto">
        <ng-container  *ngFor="let card of (this.infoPanels | async); let i = index">
            <div class="info mb-4">
                <div class="info-image" *ngIf="i % 2 === 0">
                    <img src="{{ card.imageSrc }}" alt="{{ card.imageAlt }}" />
                </div>
                <div class="info-text">
                    <h1>{{ card.title }}</h1>
                    <p>{{ card.description }}</p>
                    <div class="d-flex flex-row w-100" *ngIf="card.buttonText">
                        <div class="flex-grow-1"></div>
                        <a type="button" class="btn btn-purple" href="{{ card.buttonHref }}" target="_blank">
                            <i class="{{ card.buttonIcon }}" aria-hidden="true"></i> {{ card.buttonText }}
                        </a>
                        <div class="flex-grow-1"></div>
                    </div>
                </div>
                <div class="info-image mr-4" *ngIf="i % 2 !== 0">
                    <img src="{{ card.imageSrc }}" alt="{{ card.imageAlt }}" />
                </div>
            </div>
            <div style="height: 80px"></div>
        </ng-container>
    </div>
</div>
