<div class="card-container" [class.mb-2]="this.showOverlay">
    <div class="card-container-body d-flex flex-row flex-wrap flex-shrink-0 flex-grow-1 align-items-center">
        <mat-icon class="mr-2">search</mat-icon>
        <mat-form-field class="flex-grow-1 m-0">
            <mat-label>{{ 'Quicksearch.Placeholder' | translate }}</mat-label>
            <input matInput type="text" autocomplete="off" [(ngModel)]="search" (ngModelChange)="onSearch($event)">
        </mat-form-field>
    </div>
</div>
<div class="card-container" [class.mb-2]="this.showOverlay" *ngIf="this.showOverlay">
    <div class="card-container-body d-flex flex-column flex-shrink-0 flex-grow-1">
        <span class="mat-h1 font-weight-bold mb-2" *ngIf="this.loading">{{ 'Loading' | translate }}</span>

        <mat-spinner *ngIf="this.loading"></mat-spinner>

        <div class="d-flex flex-column" *ngIf="!this.loading">
            <ng-container *ngIf="this.searchResults?.userNoteView">
                <app-usernote-card [userNote]="this.searchResults!.userNoteView" [showDeleteButton]="false" class="mb-1"></app-usernote-card>
            </ng-container>
            <ng-container *ngIf="this.searchResults?.userMappingViews">
                <app-quicksearch-usermaps-result [usermaps]="this.searchResults!.userMappingViews" [searchedFor]="this.search"></app-quicksearch-usermaps-result>
            </ng-container>

            <mat-divider *ngIf="this.searchResults?.userNoteView || this.searchResults?.userMappingViews?.length !== 0" class="mb-2 mt-2"></mat-divider>

            <ng-container *ngFor="let entry of searchResults?.searchEntries">
                <app-quicksearch-case-result [caseEntry]="entry.entry" class="mb-1"
                 *ngIf="entry.quickSearchEntryType === 0"></app-quicksearch-case-result>
                <app-quicksearch-moderation-result [entry]="entry.entry" class="mb-1"
                 *ngIf="entry.quickSearchEntryType === 1"></app-quicksearch-moderation-result>
            </ng-container>
            <div *ngIf="searchResults?.searchEntries?.length === 0 && searchResults?.userNoteView == null && searchResults?.userMappingViews?.length === 0">
                <div class="d-flex flex-row">
                    <div class="flex-grow-1"></div>
                    <img src="/assets/img/notfound.svg" class="flex-grow-0 w-50" />
                    <div class="flex-grow-1"></div>
                </div>
                <div class="d-flex flex-row">
                    <div class="flex-grow-1"></div>
                    <span style="font-size: x-large;">{{ 'Quicksearch.NoMatches' | translate }}</span>
                    <div class="flex-grow-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>