{% extends 'base.html.twig' %}
{% block body %}
    {% include 'navbar.html.twig' %}

    <style>
        .hiddencolumn {
            display: none;
        }
    </style>

    <div class="container">
        <div class="row">
        <div class="col-sm-8">
        <h4><strong>All ModCases (32)</strong></h4>
            <p>All ModCases are listed here. You can create new ModCases by clicking on the button.</p><br>

        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary">Create new Case</button>
        </div>
        </div>

        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>

                <th class="th-sm">Start date
                </th>
                <th class="th-sm hiddencolumn">Salary
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td>                    <div class="card">
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title"><a>Card title</a></h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p>
                            <!-- Button -->
                            <a href="#" class="btn btn-primary">Button</a>

                        </div>
                    </div></td>
                <td class="hiddencolumn">$320,800</td>
            </tr>
            <tr>
                <td>
                    <div class="card">
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><a>Card title</a></h4>
                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Button</a>

                    </div>
                    </div>
                </td>
                <td class="hiddencolumn">$170,750</td>
            </tr>
            <tr>
                <td>
                    <div class="card">
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title"><a>Card title</a></h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p>
                            <!-- Button -->
                            <a href="#" class="btn btn-primary">Button</a>

                        </div>
                    </div>
                </td>
                <td class="hiddencolumn">$20000</td>
            </tr>

            </tbody>
        </table>
    </div>

{% endblock body %}

{% block scriptblock %}
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
        });
    </script>
{% endblock %}
