<div class="d-flex flex-wrap justify-content-between align-items-start m-2">
    <!-- Infos -->
    <div>
        <span class="display-4 font-weight-bold">All Automoderations ({{ (this.moderationEventsInfo | async)?.count || 0 }})</span>
    </div>
    <div class="d-flex flex-column align-self-end" *ngIf="this.isAdminOrHigher | async">
        <span type="button" class="btn btn-success" (click)="this.router.navigate(['guilds', this.guildId, 'automod'])">Configure</span>
    </div>
</div>
<div class="moderations">
    <div class="card rounded mb-3" *ngIf="(this.moderationEventsInfo | async)?.events?.length === 0">
        <div class="card-body">
            <h4 class="card-title"><a>Nothing here.</a></h4>
            <p class="card-text">There are no moderated events.</p>
        </div>
    </div>
    <ng-container *ngFor="let moderation of this.moderationEvents">
        <div class="d-flex" style="align-items: center" *ngIf="!isEqualToLastDate(moderation.createdAt)">
            <span class="flex-shrink-1 mr-3" style="font-size: 20px;">
                {{ moderation.createdAt | date:'dd.MM.Y' }}
            </span>
            <hr class="spacer-type1 flex-grow-1"/>
        </div>
        <app-modevent [moderation]="moderation"></app-modevent>
    </ng-container>
</div>
<div id="loadMoreData" *ngIf="(this.moderationEventsInfo | async)?.count > 50 && this.startPage * 50 < (this.moderationEventsInfo | async)?.count">
    <div class="d-flex" style="align-items: center">
            <span class="flex-shrink-1 mr-3" style="font-size: 20px;">
                The end
            </span>
        <hr class="spacer-type1 flex-grow-1"/>
    </div>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="loadMoreData()">
            Load even more data
        </button>
    </div>
</div>