.pictures-parent {
    position: relative;
    top: 0;
    left: 0;
}

.user-image {
    position: relative;
    top: 0;
    left: 0;
}

.mod-image {
    position: absolute;
    top: 56px;
    left: 56px;
}

.card-container {
    margin: unset!important;
}