<h1 mat-dialog-title>{{ 'ScheduledMessageEditDialog.EditMessage' | translate }}</h1>
<div mat-dialog-content>
    <mat-form-field class="w-100">
        <mat-label>{{ 'ScheduledMessageEditDialog.Name' | translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="message.name" [attr.rows]="this.initRows" class="w-100">
    </mat-form-field>
    <mat-form-field class="w-100">
        <mat-label>{{ 'ScheduledMessageEditDialog.Content' | translate }}</mat-label>
        <textarea matInput type="text" [(ngModel)]="message.content" [attr.rows]="this.initRows" class="w-100"></textarea>
    </mat-form-field>
    <div class="w-100">
        <app-date-picker [dateChangedInParent]="scheduledForChangedForPicker" (dateChanged)="dateChanged($event)"></app-date-picker>
    </div>
</div>
<div mat-dialog-actions class="w-100 d-flex flex-row justify-content-center">
    <button mat-raised-button color="accent" [mat-dialog-close]="false" cdkFocusInitial>{{ 'ScheduledMessageEditDialog.Cancel' | translate }}</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="!message.content?.trim() || !message.name?.trim()">{{ 'ScheduledMessageEditDialog.Confirm' | translate }}</button>
</div>