<div class="p-3 d-flex flex-column moderation-without-hover">
    <div class="d-flex flex-row" style="align-items: center">
        <mat-icon class="mr-2">{{ iconsMap[moderation.autoModerationType] }}</mat-icon>
        <span>{{ moderation.username }}#{{ moderation.discriminator }}
            <span class="text-black-50">({{ moderation.userId }}) </span>
            <span class="accent-color">{{ event }}.</span>
            <span> {{ action }}.</span>
        </span>
        <div class="flex-grow-1"></div>
        <a routerLink="/guilds/{{ moderation.guildId }}/cases/{{ moderation.associatedCaseId }}"  *ngIf="moderation.associatedCaseId">
            <button mat-raised-button color="accent">
                {{ 'AutoModCard.ViewCase' | translate}}
            </button>
        </a>
    </div>
    <div>
        <div class="ml-3 mt-3">
            <mat-icon>format_quote</mat-icon> <span style="word-break: break-all; white-space: pre;"> {{ moderation.messageContent }}</span>
            <hr/>
            <div class="d-flex flex-row">
                <div class="text-black-50">{{ 'AutoModCard.Message' | translate}}: {{ moderation.messageId }}</div>
                <div class="flex-grow-1"></div>
                <div class="text-black-50">
                    <app-date-display [showTime]="true" [date]="moderation.createdAt"></app-date-display>
                </div>
            </div>
        </div>
    </div>
</div>