<div class="card-container">
    <div class="card-container-body d-flex flex-column flex-wrap flex-shrink-0 flex-grow-1">
        <span class="font-weight-bold mb-2">
            {{ title }}
        </span>
        <app-loading-spinner *ngIf="this.loading"></app-loading-spinner>
        <div *ngIf="!this.loading && cases" class="w-100 d-flex flex-row flex-wrap">
            <app-case-card-compact *ngFor="let case of cases" [entry]="case" class="mb-1 flex-grow-1"
            [showCreated]="resource === 'modcasetable'" [showExpiring]="resource === 'expiringpunishment'" >
            </app-case-card-compact>
        </div>
        <div *ngIf="!this.loading && cases == undefined">
            <span>Failed to load cases.</span>
        </div>
    </div>
</div>