<!-- Guild -->
<div class="d-flex align-items-lg-center mb-3">
    <img
            src="https://cdn.discordapp.com/icons/{{ (this.guild | async)?.id }}/{{ (this.guild | async)?.icon }}.png"
            class="rounded-circle z-depth-0 mr-1"
            alt="guild icon"
            height="35"
    />
    <span class="font-weight-bold">
        Guild: {{ (this.guild | async)?.name }}
        <span class="text-black-50">
            ({{ (this.guild | async)?.id }})
        </span>
    </span>
</div>
<div class="card rounded m-2 mb-3" *ngIf="!this.isModOrHigher">
    <div class="card-body">
        <h4 class="card-title"><a>Restricted permissions.</a></h4>
        <p class="card-text">You do not have any special permissions in this guild and will therefore only see cases registered on your name.</p>
    </div>
</div>
<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="modcase-tab" data-toggle="tab" href="#modcases" role="tab" aria-controls="modcases"
           aria-selected="true">Modcases ({{ (this.modCases | async)?.length || 0 }})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="punishment-tab" data-toggle="tab" href="#punishments" role="tab" aria-controls="punishments"
           aria-selected="false">Active Punishments ({{ (this.activePunishments | async)?.length || 0 }})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="moderation-tab" data-toggle="tab" href="#moderations" role="tab" aria-controls="moderations"
           aria-selected="false">Automoderations ({{ (this.moderationEventsInfo | async)?.count || 0 }})</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="modcases" role="tabpanel" aria-labelledby="modcase-tab">
        <div class="d-flex flex-wrap justify-content-between align-items-start m-2">
            <!-- Infos -->
            <div>
                <span class="display-4 font-weight-bold">All Modcases ({{ (this.modCases | async)?.length || 0 }})</span>
            </div>
            <div class="d-flex flex-column align-self-end" *ngIf="this.isModOrHigher">
                <button class="btn btn-success" (click)="this.router.navigate(['guilds', this.guildId, 'cases', 'new'])">Create new Case</button>
            </div>
        </div>
        <table id="tableCases" class="table" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="th-sm"></th>
                <td class="th-sm hiddencolumn">CaseId</td>
                <th class="th-sm hiddencolumn">UserId</th>
                <td class="th-sm hiddencolumn">ModId</td>
                <td class="th-sm hiddencolumn">Labels</td>
                <td class="th-sm hiddencolumn">Title</td>
                <td class="th-sm hiddencolumn">Description</td>
                <td class="th-sm hiddencolumn">Punishment</td>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let case of (this.modCases | async)">
                    <td [attr.data-order]="case.caseId">
                        <a class="font-weight-bold" (click)="this.router.navigate(['guilds', case.guildId, 'cases', case.caseId])">
                            <div class="card">
                                <div class="card-body d-flex flex-column flex-wrap">
                                    <div>
                                        <!-- Title -->
        
                                        <h4 class="card-title">
                                            #{{ case.caseId }}
                                            <span class="badge badge-danger">{{ case.punishment }}</span>
                                            {{ case.username }} - {{ case.title }}
                                        </h4>
        
                                        <!-- Labels -->
                                        <div class="d-flex mb-2">
                                            <span class="badge badge-pill badge-info mr-1" *ngFor="let label of case.labels">
                                                {{ label }}
                                            </span>
                                        </div>
        
                                        <!-- Text -->
                                        <p class="card-text">{{ case.description.length > 100 ? case.description.slice(0, 100) + '' : case.description }}</p>
                                    </div>
                                    <div class="flex-grow-1"></div>
                                    <!-- Button -->
                                    <div class="btn btn-orange align-self-end">VIEW DETAILS</div>
                                </div>
                            </div>
                        </a>
                    </td>
                    <td class="hiddencolumn">{{ case.caseId }}</td>
                    <td class="hiddencolumn">{{ case.userId }}</td>
                    <td class="hiddencolumn">{{ case.modId }}</td>
                    <td class="hiddencolumn">{{ case.labels.join('|') }}</td>
                    <td class="hiddencolumn">{{ case.title }}</td>
                    <td class="hiddencolumn">{{ case.description }}</td>
                    <td class="hiddencolumn">{{ case.punishment }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="punishments" role="tabpanel" aria-labelledby="punishment-tab">
        <div class="d-flex flex-wrap justify-content-between align-items-start m-2">
            <!-- Infos -->
            <div>
                <span class="display-4 font-weight-bold">All active punishments ({{ (this.activePunishments | async)?.length || 0 }})</span>
            </div>
            <div class="d-flex flex-column align-self-end" *ngIf="this.isModOrHigher">
                <span type="button" class="btn btn-success" (click)="this.router.navigate(['guilds', this.guildId, 'cases', 'new'])">Create new Case</span>
            </div>
        </div>
        <table id="tablePunishments" class="table" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="th-sm"></th>
                <td class="th-sm hiddencolumn">CaseId</td>
                <th class="th-sm hiddencolumn">UserId</th>
                <td class="th-sm hiddencolumn">ModId</td>
                <td class="th-sm hiddencolumn">Labels</td>
                <td class="th-sm hiddencolumn">Title</td>
                <td class="th-sm hiddencolumn">Description</td>
                <td class="th-sm hiddencolumn">Punishment</td>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let case of (this.activePunishments | async)?.reverse()">
                    <td>
                        <a class="font-weight-bold" (click)="this.router.navigate(['guilds', case.guildId, 'cases', case.caseId])">
                            <div class="card">
                                <div class="card-body d-flex flex-column flex-wrap">
                                    <div>
                                        <!-- Title -->
        
                                        <h4 class="card-title">
                                            #{{ case.caseId }}
                                            <span class="badge badge-danger">{{ case.punishment }}</span>
                                            {{ case.username }} - {{ case.title }}
                                        </h4>
        
                                        <!-- Labels -->
                                        <div class="d-flex mb-2">
                                            <span type="button" class="badge badge-pill badge-info mr-1" *ngFor="let label of case.labels">
                                                {{ label }}
                                            </span>
                                        </div>
        
                                        <!-- Text -->
                                        <p class="card-text">{{ case.description.length > 100 ? case.description.slice(0, 100) + '' : case.description }}</p>
                                    </div>
                                    <div class="flex-grow-1"></div>
                                    <!-- Button -->
                                    <div class="btn btn-orange align-self-end">VIEW DETAILS</div>
                                </div>
                            </div>
                        </a>
                    </td>
                    <td class="hiddencolumn">{{ case.caseId }}</td>
                    <td class="hiddencolumn">{{ case.userId }}</td>
                    <td class="hiddencolumn">{{ case.modId }}</td>
                    <td class="hiddencolumn">{{ case.labels.join('|') }}</td>
                    <td class="hiddencolumn">{{ case.title }}</td>
                    <td class="hiddencolumn">{{ case.description }}</td>
                    <td class="hiddencolumn">{{ case.punishment }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="moderations" role="tabpanel" aria-labelledby="moderation-tab">
        <div class="d-flex flex-wrap justify-content-between align-items-start m-2">
            <!-- Infos -->
            <div>
                <span class="display-4 font-weight-bold">All Automoderations ({{ (this.moderationEventsInfo | async)?.count || 0 }})</span>
            </div>
            <div class="d-flex flex-column align-self-end" *ngIf="this.isAdminOrHigher">
                <span type="button" class="btn btn-success" (click)="this.router.navigate(['guilds', this.guildId, 'automod'])">Configure</span>
            </div>
        </div>
        <div class="moderations">
            <div class="card rounded mb-3" *ngIf="(this.moderationEventsInfo | async)?.events?.length === 0">
                <div class="card-body">
                    <h4 class="card-title"><a>Nothing here.</a></h4>
                    <p class="card-text">There are no moderated events.</p>
                </div>
            </div>
            <ng-container *ngFor="let moderation of this.moderationEvents">
                <div class="d-flex" style="align-items: center" *ngIf="!isEqualToLastDate(moderation.createdAt)">
                    <span class="flex-shrink-1 mr-3" style="font-size: 20px;">
                        {{ moderation.createdAt | date:'dd.MM.Y' }}
                    </span>
                    <hr class="spacer-type1 flex-grow-1"/>
                </div>
                <div class="moderation mb-2 p-3 d-flex flex-column"
                    [attr.data-target]="'#collapse-' + moderation.id"
                    onclick="collapse(this)">                    
                    <div class="d-flex flex-row" style="align-items: center">
                        <i class="{{ iconsMap[moderation.autoModerationType] }} mr-2"></i>
                        <span>{{ moderation.username }}#{{ moderation.discriminator }}
                            <span class="text-black-50">({{ moderation.userId }})</span>
                            <span style="color: red"> {{ eventsMap[moderation.autoModerationType] }}. </span>
                            <span>{{ actionsMap[moderation.autoModerationAction] }}.</span>
                        </span>
                        <div class="flex-grow-1"></div>
                        <a (click)="this.router.navigate(['guilds', moderation.guildId, 'cases', moderation.associatedCaseId])"
                            *ngIf="moderation.associatedCaseId" >
                            <span class="badge bg-primary">See case</span>
                        </a>
                    </div>
                    <div class="collapse" id="collapse-{{ moderation.id }}">
                        <div class="ml-3 mt-3">
                            <i class="fas fa-quote-right fa-2x"></i> <span> {{ moderation.messageContent }}</span>
                            <hr/>
                            <div class="d-flex flex-row">
                                <small class="text-black-50">MessageId: {{ moderation.messageId }}</small>
                                <div class="flex-grow-1"></div>
                                <small class="text-black-50">Timestamp (UTC): {{ moderation.createdAt | date:'dd.MM.Y HH:mm:ss' }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div id="loadMoreData" *ngIf="(this.moderationEventsInfo | async)?.count > 50 && this.startPage * 50 < (this.moderationEventsInfo | async)?.count">
            <div class="d-flex" style="align-items: center">
                    <span class="flex-shrink-1 mr-3" style="font-size: 20px;">
                        The end
                    </span>
                <hr class="spacer-type1 flex-grow-1"/>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" (click)="loadMoreData()">
                    Load even more data
                </button>
            </div>
        </div>
    </div>
</div>
