<!-- Guild -->
<div class="d-flex align-items-lg-center mb-3" *ngIf="(this.guild | async)">
    <div class="d-flex flex-column mr-2" *ngIf="(this.isModOrHigher | async)">
        <div class="flex-grow-1"></div>
        <div class="md-form flex-shrink-0 mt-0 mb-0">
            <button type="submit" name="submit" (click)="redirectToDashboard()"
                class="btn btn-success btn-lg btn-block waves-effect waves-light p-2">
                Switch to dashboard view
            </button>
        </div>
        <div class="flex-grow-1"></div>
    </div>
    <img
        src="https://cdn.discordapp.com/icons/{{ (this.guild | async)?.id }}/{{ (this.guild | async)?.icon }}.png"
        class="rounded-circle z-depth-0 mr-1"
        alt="guild icon"
        height="35"
    />
    <span class="font-weight-bold">
        Guild: {{ (this.guild | async)?.name }}
        <span class="text-black-50">
            ({{ (this.guild | async)?.id }})
        </span>
    </span>
</div>
<div class="card rounded m-2 mb-3" *ngIf="!(this.isModOrHigher | async)">
    <div class="card-body">
        <h4 class="card-title"><a>Restricted permissions.</a></h4>
        <p class="card-text">You do not have any special permissions in this guild and will therefore only see cases registered on your name.</p>
    </div>
</div>
<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="modcase-tab" data-toggle="tab" href="#modcases" role="tab" aria-controls="modcases"
           aria-selected="true">Modcases</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="punishment-tab" data-toggle="tab" href="#punishments" role="tab" aria-controls="punishments"
           aria-selected="false">Active Punishments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="moderation-tab" data-toggle="tab" href="#moderations" role="tab" aria-controls="moderations"
           aria-selected="false">Automoderations</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="modcases" role="tabpanel" aria-labelledby="modcase-tab">
        <app-case-table></app-case-table>
    </div>
    <div class="tab-pane fade" id="punishments" role="tabpanel" aria-labelledby="punishment-tab">
        <app-case-table [punishmentTable]="true" [uniqueIdentifier]="'punishmentTable'"></app-case-table>        
    </div>
    <div class="tab-pane fade" id="moderations" role="tabpanel" aria-labelledby="moderation-tab">
        <app-modevents-table ></app-modevents-table>
    </div>
</div>
