.cw-50-75 {
    width: 50% !important;
}

@media screen and (max-width: 600px) {
    .cw-50-75 {
        width: 75% !important
    }
}

.pn-details .pn-details-text b {
    color: white;
    opacity: 1;
    font-weight: bold;
    text-transform: uppercase;
}

.pn-details .pn-details-text {
    color: #72767d;
    opacity: 0.8;
    line-height: 16px;
    padding-right: 1rem;
}
