<div class="infocontainer m-auto">
    <ng-container  *ngFor="let card of (this.panels | async); let i = index">
        <div class="info mb-4">
            <div class="info-image" *ngIf="i % 2 === 0">
                <img src="{{ card.imageSrc }}" alt="{{ card.imageAlt }}" />
            </div>
            <div class="info-text">
                <h1>{{ card.title }}</h1>
                <p>{{ card.description }}</p>
                <div class="d-flex flex-row w-100" *ngIf="card.buttonText">
                    <div class="flex-grow-1"></div>
                    <a type="button" class="btn btn-purple" href="{{ card.buttonHref }}" target="_blank">
                        <i class="{{ card.buttonIcon }}" aria-hidden="true"></i> {{ card.buttonText }}
                    </a>
                    <div class="flex-grow-1"></div>
                </div>
            </div>
            <div class="info-image mr-4" *ngIf="i % 2 !== 0">
                <img src="{{ card.imageSrc }}" alt="{{ card.imageAlt }}" />
            </div>
        </div>
        <div style="height: 80px"></div>
    </ng-container>
</div>