<div class="infocontainer m-auto">
    <div class="info mb-4">
        <div class="info-text">
            <h1>Donate</h1>
            <p>You can donate me some of your most precious coins using <a href="https://paypal.me/zaanposni" target="_blank">PayPal.</a></p>
        </div>
        <div class="info-image mr-4">
            <img src="assets/img/paypal.png"/>
        </div>
    </div>
    <div class="info mb-4">
        <div class="info-image">
            <img src="assets/img/bundestag.jpg"/>
        </div>
        <div class="info-text">
            <h1>How it all started</h1>
            <p>I am an administrator of a fairly big german community. The guild is focused on german politics and the german parliament.<br/>
            As you can guess there are many trolls and weird people on those servers. As my moderation team was struggling with keeping track of everything, I started MASZ.</p>
        </div>
    </div>
    <div class="info mb-4">
        <div class="info-text">
            <h1>MASZ</h1>
            <p>Nowadays MASZ is a feature rich moderation tool that helps not only my moderation team but also other guilds to keep up with those filthy trolls.</p>
        </div>
        <div class="info-image mr-4">
            <img src="assets/img/masz.png"/>
        </div>
    </div>
</div>