.mat-icon.big-icon {
    height: 64px !important;
    width: 64px !important;
    font-size: 64px !important;
}

.dot-scaffold {
    border-radius: 50%;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.dot {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
}

.dot-green {
    color: #3bd671;
    background: #3bd671;
    animation: pulseGreen 2s infinite;
}

.dot-orange {
    color: #ffa706;
    background: #ffa706;
    animation: pulseOrange 2s infinite;
}

.dot-red {
    color: #c62828;
    background: #c62828;
    animation: pulseRed 2s infinite;
}

@keyframes pulseGreen {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(59, 214, 113, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(59, 214, 113, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(59, 214, 113, 0);
    }
}

@keyframes pulseOrange {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 167, 6, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(59, 214, 113, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(59, 214, 113, 0);
    }
}

@keyframes pulseRed {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(198, 40, 40, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(59, 214, 113, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(59, 214, 113, 0);
    }
}
