<h1 mat-dialog-title>Edit usernote</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput type="text" [(ngModel)]="settings.description"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="accent" [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="!settings.description?.trim()">Confirm</button>
</div>