::ng-deep .mat-vertical-content {
    padding-top: 16px !important;
}

::ng-deep .mat-vertical-content:first-child {
    margin-top: unset !important;
    margin-bottom: 4px;
}

::ng-deep .mat-vertical-content > *:not(.stepper-actions),
form > *:not(.stepper-actions) {
    margin-top: 4px;
    margin-bottom: 4px;
}

::ng-deep .mat-vertical-content:last-child {
    margin-top: 4px;
    margin-bottom: unset !important;
}

.mat-stepper-vertical {
    background-color: inherit;
    margin-top: 8px;
}

mat-vertical-stepper .stepper-actions {
    margin-top: 1rem;
}
