<div style="height: 100px;" class="dp-on-big-screen"></div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center cw-75-100">
        <mat-spinner *ngIf="this.oldCase.loading"></mat-spinner>
        <div class="d-flex flex-column align-items-center" *ngIf="!this.oldCase.loading && !this.oldCase.content">
            <span class="mat-display-1 font-weight-bold">{{ 'ModCaseDialog.FailedToLoad.CurrentCase' | translate }}</span>
            <img src="/assets/img/notfound.svg" alt="not found" class="w-50"/>
        </div>
        <mat-vertical-stepper [linear]="true" #stepper color="accent" class="cw-75-100" [style.display]="(!this.oldCase.loading && this.oldCase.content) ? 'block' : 'none'">
            <mat-step [stepControl]="memberFormGroup">
                <ng-template matStepLabel>{{ 'ModCaseDialog.ChooseAMember' | translate }}</ng-template>
                <button mat-raised-button color="accent" routerLink="/guilds/{{ this.guildId }}/cases/{{ this.caseId }}">{{ 'ModCaseDialog.BackToCase' | translate }}</button><br/>
                <mat-spinner *ngIf="this.members.loading"></mat-spinner>
                <form [formGroup]="memberFormGroup" class="mt-3" *ngIf="!this.members.loading">
                    <mat-form-field>
                        <mat-label>{{ 'ModCaseDialog.Member' | translate }}</mat-label>
                        <input type="text"
                            placeholder="{{ 'ModCaseDialog.PickOne' | translate }}"
                            aria-label="Member"
                            matInput
                            formControlName="member"
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of this.filteredMembers | async" [value]="option.id">
                            {{option.username}}#{{option.discriminator}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperNext color="accent">{{ 'ModCaseDialog.Next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="infoFormGroup">
                <ng-template matStepLabel>{{ 'ModCaseDialog.DescribeCase' | translate }}</ng-template>
                <form [formGroup]="infoFormGroup">
                    <mat-form-field class="w-100">
                        <mat-label>{{ 'ModCaseDialog.Title' | translate }}</mat-label>
                        <input matInput type="text" formControlName="title">
                    </mat-form-field><br/>
                    <mat-form-field class="w-100">
                        <mat-label>{{ 'ModCaseDialog.Description' | translate }}</mat-label>
                        <textarea matInput type="text" formControlName="description"></textarea>
                    </mat-form-field><br/>
                    <mat-form-field class="w-100">
                        <mat-label>{{ 'ModCaseDialog.Labels' | translate }}</mat-label>
                        <mat-chip-list #chipList aria-label="Labels">
                            <mat-chip *ngFor="let label of caseLabels" [selectable]="true"
                                    color="accent" [removable]="true" (removed)="remove(label)">
                            {{label}}
                            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                            </mat-chip>
                            <input  #labelInput
                                    placeholder="{{ 'ModCaseDialog.NewLabel' | translate }}"
                                    [formControl]="labelInputForm"
                                    [matAutocomplete]="auto"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="false"
                                    (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="autoCompleteSelected($event)">
                            <mat-option *ngFor="let label of filteredLabels | async" [value]="label?.cleanValue ?? label.label">
                                <span [innerHtml]="label.label"></span><span> ({{ label.count }})</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">{{ 'ModCaseDialog.Back' | translate }}</button>
                    <button mat-raised-button matStepperNext color="accent">{{ 'ModCaseDialog.Next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="punishmentFormGroup">
                <ng-template matStepLabel>{{ 'ModCaseDialog.ChoosePunishment' | translate }}</ng-template>
                <form [formGroup]="punishmentFormGroup">
                    <mat-form-field>
                        <mat-label>{{ 'ModCaseDialog.Punishment' | translate }}</mat-label>
                        <mat-select formControlName="punishmentType">
                        <mat-option *ngFor="let enum of punishmentOptions.content" [value]="enum.key">{{ enum.value }}</mat-option>
                        </mat-select>
                    </mat-form-field><br/>
                    <mat-checkbox *ngIf="this.punishmentFormGroup.value.punishmentType >= 1"
                        formControlName="handlePunishment"
                        [labelPosition]="'after'">
                        {{ 'ModCaseDialog.HandlePunishment' | translate }}
                    </mat-checkbox><br/>
                    <app-date-picker *ngIf="this.punishmentFormGroup.value.punishmentType === 1 || this.punishmentFormGroup.value.punishmentType === 3"
                       (dateChanged)="punishedUntilChanged($event)" [dateChangedInParent]="punishedUntilChangeForPicker" >
                    </app-date-picker>
                </form>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">{{ 'ModCaseDialog.Back' | translate }}</button>
                    <button mat-raised-button matStepperNext color="accent">{{ 'ModCaseDialog.Next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="optionsFormGroup">
                <ng-template matStepLabel>{{ 'ModCaseDialog.UpdateCase' | translate }}</ng-template>
                <form [formGroup]="optionsFormGroup">
                    <mat-checkbox
                        formControlName="sendNotification"
                        [labelPosition]="'after'">
                        {{ 'ModCaseDialog.PublicNotification' | translate }}
                    </mat-checkbox>
                </form>
                <div *ngIf="!this.savingCase" class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">{{ 'ModCaseDialog.Back' | translate }}</button>
                    <button mat-raised-button color="accent" (click)="updateCase()">{{ 'ModCaseDialog.UpdateCaseButton' | translate }}</button>
                </div>
                <mat-spinner *ngIf="this.savingCase"></mat-spinner>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>