.jfk-bubble.gtx-bubble, .captcheck_answer_label > input + img, embed[type=\"application/pdf\"] {
    filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
}
[data-darkreader-inline-bgcolor] {
    background-color: var(--darkreader-inline-bgcolor) !important;
}
[data-darkreader-inline-bgimage] {
    background-image: var(--darkreader-inline-bgimage) !important;
}
[data-darkreader-inline-border] {
    border-color: var(--darkreader-inline-border) !important;
}
[data-darkreader-inline-border-bottom] {
    border-bottom-color: var(--darkreader-inline-border-bottom) !important;
}
[data-darkreader-inline-border-left] {
    border-left-color: var(--darkreader-inline-border-left) !important;
}
[data-darkreader-inline-border-right] {
    border-right-color: var(--darkreader-inline-border-right) !important;
}
[data-darkreader-inline-border-top] {
    border-top-color: var(--darkreader-inline-border-top) !important;
}
[data-darkreader-inline-boxshadow] {
    box-shadow: var(--darkreader-inline-boxshadow) !important;
}
[data-darkreader-inline-color] {
    color: var(--darkreader-inline-color) !important;
}
[data-darkreader-inline-fill] {
    fill: var(--darkreader-inline-fill) !important;
}
[data-darkreader-inline-stroke] {
    stroke: var(--darkreader-inline-stroke) !important;
}
[data-darkreader-inline-outline] {
    outline-color: var(--darkreader-inline-outline) !important;
}
[data-darkreader-inline-stopcolor] {
    stop-color: var(--darkreader-inline-stopcolor) !important;
}
:root {
    --darkreader-neutral-background: #181a1b;
    --darkreader-neutral-text: #e8e6e3;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
}
html {
    background-color: #181a1b !important;
}
html, body, input, textarea, select, button {
    background-color: #181a1b;
}
html, body, input, textarea, select, button {
    border-color: #736b5e;
    color: #e8e6e3;
}
a {
    color: #3391ff;
}
table {
    border-color: #545b5e;
}
::placeholder {
    color: #b2aba1;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #555b00 !important;
    color: #e8e6e3 !important;
}
::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
}
::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
* {
    scrollbar-color: #202324 #454a4d;
}
::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}
::-moz-selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}






.vimvixen-hint {
    background-color: #7b5300 !important;
    border-color: #d8b013 !important;
    color: #f3e8c8 !important;
}
::placeholder {
    opacity: 0.5 !important;
}

.table, .md-form label, table.table a, .form-control, .form-control:focus, .card .card-body .card-text {
    color: unset !important;
}

.custom-select, .custom-select:focus, input[class*="form-control"], input[class*="form-control:focus"], .dataTables_wrapper .form-control:focus {
    background-color: unset!important;
    color: unset;
}

.custom-select option {
    background-color: #181a1b!important;
}

.md-form > .form-control, .md-form > .form-control:focus {
    color: unset !important;
}

.text-black-50 {
    color: rgba(232, 230, 227, 0.7) !important;
}

.toast-header {
    color: inherit;
    background-color: inherit;
}

.card, .modal-content, .toast, .label-box {
    color: #e8e6e3;
    background-color: var(--darkreader-neutral-background);
    border-color: #828385;
}

.modal-header, .table thead th{
    border-bottom: 1px solid var(--dark);
}

.table th, .table td {
    border-top-color: #828385;
}

.fa-plus  {
    color: var(--dark) !important;
}