using MASZ.Models;

/*

This is an example of a webhook plugin.
It shows how to use MASZ services like the "_discordAPI" which is a discord API wrapper.
For further documentation of the services, see the "Services" folder.
This plugin executes a webhook every time an identity is registered.

*/

namespace MASZ.Plugins
{
    public class ExampleWebhookPlugin : BasePlugin, IBasePlugin
    {
        private readonly ILogger<ExampleWebhookPlugin> _logger;
        private readonly string _webhookUrl = "https://discord.com/api/webhooks/123/xyz";
        public ExampleWebhookPlugin() { }
        public ExampleWebhookPlugin(ILogger<ExampleWebhookPlugin> logger, IServiceProvider serviceProvider): base(serviceProvider)
        {
            _logger = logger;
        }

        public void Init()
        {
            _eventHandler.OnIdentityRegistered += OnIdentityRegistered;
        }

        private async Task OnIdentityRegistered(Identity e)
        {
            _logger.LogInformation($"Identity {e.GetCurrentUser().Username} registered!");
            await _discordAPI.ExecuteWebhook(_webhookUrl, null, $"Identity {e.GetCurrentUser().Username} registered!");
        }
    }
}