.pictures-parent {
    position: relative;
    top: 0;
    left: 0;
}

.user-image {
    position: relative;
    top: 0;
    left: 0;
}

.mod-image {
    position: absolute;
    top: 36px;
    left: 36px;
}

a {
    color: unset;
    text-decoration: none; /* no underline */
}

.badge-danger {
    background-color: #df0b1f;
}

.card-container {
    margin: unset!important;
}
