<div class="d-flex flex-column">
    <span class="mt-2">{{ 'GuildMessages.Explained' | translate }}</span>
    <div class="mat-h1 mt-4 mb-0">{{ 'GuildMessages.QueueMessage' | translate }}</div>

    <mat-spinner class="my-2 w-75" *ngIf="newMessageLoading"></mat-spinner>
    <form class="d-flex flex-column w-75" [formGroup]="newMessageForm" *ngIf="!newMessageLoading">
        <div class="d-flex flex-row conditional-fc">
            <mat-form-field class="mr-2">
                <mat-label>{{ 'GuildMessages.NameField' | translate }}</mat-label>
                <input matInput type="text" formControlName="name">
                    <div *ngIf="newMessageName?.invalid && (newMessageName?.dirty || newMessageName?.touched)" class="alert alert-danger my-1">
                        <div *ngIf="newMessageName?.errors?.['required']">
                            {{ 'Forms.FieldRequired' | translate }}
                        </div>
                    </div>
            </mat-form-field>
            <mat-form-field class="mr-2">
                <mat-label>{{ 'GuildMessages.ChannelField' | translate }}</mat-label>
                <mat-select formControlName="channel">
                    <mat-option *ngFor="let channel of channels"
                        [value]="channel.id">#{{ channel.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <app-date-picker [dateChangedInParent]="scheduledForChangedForPicker" (dateChanged)="newMessageDateChanged($event)"></app-date-picker>
            </div>
        </div>
        <mat-form-field class="my-2">
            <mat-label>{{ 'GuildMessages.ContentField' | translate }}</mat-label>
            <textarea matInput type="text" formControlName="content" rows="4"></textarea>
                <div *ngIf="newMessageContent?.invalid && (newMessageContent?.dirty || newMessageContent?.touched)" class="alert alert-danger my-1">
                    <div *ngIf="newMessageContent?.errors?.['required']">
                        {{ 'Forms.FieldRequired' | translate }}
                    </div>
                    <div *ngIf="newMessageContent?.errors?.['maxlength']">
                        {{ 'Forms.MaxLength' | translate:maxLength4096 }}
                    </div>
                </div>
        </mat-form-field>
    </form>

    <button mat-raised-button
        color="primary"
        aria-label="register message"
        class="flex-shrink-1 w-25"
        (click)="queueMessage()"
        [disabled]="newMessageName?.invalid || newMessageContent?.invalid || newMessageChannel?.invalid || newMessageScheduledFor?.invalid || newMessageLoading">
            {{ 'GuildMessages.QueueMessage' | translate }}
    </button>

    <mat-divider class="my-2"></mat-divider>

    <div class="mat-h1 mb-2">{{ 'GuildMessages.Messages' | translate }}</div>

    <div class="d-flex flex-column">
        <app-guild-message-card class="mb-2" *ngFor="let message of messages" [message]="message" (deleteEvent)="messageDeleted($event)"></app-guild-message-card>

        <button mat-raised-button *ngIf="messages.length !== 0"
            color="accent"
            aria-label="load further messages"
            class="flex-shrink-1 w-25 align-self-center"
            (click)="loadFurtherMessages()"
            [disabled]="loadingFurtherMessages">
                {{ 'GuildMessages.LoadMore.Button' | translate }}
        </button>

        <div class="card-container rounded m-2 mb-3" *ngIf="messages.length === 0">
            <div class="card-container-body">
                <span class="mat-h1">{{ 'NothingHere' | translate }}</span>
            </div>
        </div>
    </div>

</div>
