<h1 mat-dialog-title>Create template</h1>
<div mat-dialog-content>
    <mat-form-field class="mb-2">
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="settings.name">
    </mat-form-field><br/>
    <mat-form-field class="mb-2">
        <mat-label>Visibility</mat-label>
        <mat-select [(ngModel)]="settings.viewPermission">
            <mat-option *ngFor="let o of templateViewPermissionOptions.content" [value]="o.key">{{ o.value }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="accent" [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="!settings.name?.trim() || !settings.viewPermission == null">Confirm</button>
</div>
