<!-- Guild info -->
<div class="card-container" *ngIf="!this.notifications?.loading && anyNotification">
    <div class="card-container-body d-flex flex-column flex-wrap flex-shrink-0 flex-grow-1">
        <!-- Content -->
        <div class="mat-h1 text-warning font-weight-bold d-flex flex-row align-items-center mb-0">
            <mat-icon class="mr-3" aria-hidden="false" aria-label="warning icon">warning</mat-icon>
            <div>
                {{ 'GuildNotifications.Title' | translate }}
            </div>
        </div>
        <div class="mat-h4 text-warning font-weight-bold mb-0" *ngIf="this.notifications?.content?.appealConfigured === false">
            {{ 'GuildNotifications.MissingAppeals' | translate }}
        </div>
    </div>
</div>