
<div style="height: 100px;" class="dp-on-big-screen"></div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-left cw-75-100">
        <!-- only list for cases and automods -->
        <mat-tab-group class="flex-grow-1" [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)">
            <mat-tab *ngFor="let tab of this.tabs">
                <ng-template mat-tab-label>
                    <mat-icon class="mr-1">{{ tab.icon }}</mat-icon>
                    <span *ngIf="tab.component == 'dashboard'">{{ 'GuildOverview.Tabs.Dashboard' | translate }}</span>
                    <span *ngIf="tab.component == 'cases'">{{ 'GuildOverview.Tabs.Case' | translate }}</span>
                    <span *ngIf="tab.component == 'messages'">{{ 'GuildOverview.Tabs.Messages' | translate }}</span>
                    <span *ngIf="tab.component == 'automods'">{{ 'GuildOverview.Tabs.Automoderation' | translate }}</span>
                    <span *ngIf="tab.component == 'config'">{{ 'GuildOverview.Tabs.Config' | translate }}</span>
                    <span *ngIf="tab.component == 'usermap'">{{ 'GuildOverview.Tabs.Usermap' | translate }}</span>
                    <span *ngIf="tab.component == 'usernote'">{{ 'GuildOverview.Tabs.Usernote' | translate }}</span>
                </ng-template>
                <ng-template matTabContent>
                    <app-guild-dashboard *ngIf="tab.component == 'dashboard'"></app-guild-dashboard>
                    <app-modcase-table *ngIf="tab.component=='cases'"></app-modcase-table>
                    <app-guild-messages *ngIf="tab.component=='messages'"></app-guild-messages>
                    <app-automod-table *ngIf="tab.component=='automods'"></app-automod-table>
                    <app-guild-config *ngIf="tab.component=='config'"></app-guild-config>
                    <app-guild-usermapping *ngIf="tab.component=='usermap'"></app-guild-usermapping>
                    <app-guild-usernotes *ngIf="tab.component=='usernote'"></app-guild-usernotes>
                </ng-template>
            </mat-tab>
            <!-- dash board optional tab? -->
        </mat-tab-group>
    </div>
</div>