.pictures-parent {
    position: relative;
    top: 0;
    left: 0;
}

.user-image {
    position: relative;
    top: 0;
    left: 0;
}

.mod-image {
    position: absolute;
    top: 56px;
    left: 56px;
}

.case-container-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    padding-bottom: 0.75rem;
}

.case-container {
	font-weight: 400;
    border: 0;
    border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

a {
    color: unset;
    text-decoration: none; /* no underline */
}