<div *ngIf="this.caseLoading" class="d-flex flex-row" >
    <div class="flex-grow-1"></div>
    <img src="assets/img/spinner.gif" />
    <div class="flex-grow-1"></div>
</div>
<div class="d-flex flex-column mt-2" *ngIf="!this.caseLoading">
    <div class="d-flex flex-row conditional_flex_wrap m-auto justify-content-between w-100">
        <div class="d-flex flex-column flex-grow-1 font-weight-bold">
            <span class="display-4" style="word-break: normal;" title="The case title">{{ (this.caseView | async)?.modCase?.title }}<span class="text-black-50" title="The case id"> #{{ (this.caseView   | async)?.modCase.caseId }}</span></span>
        </div>

        <!-- Delete / Edit button information -->
        <div class="d-flex flex-column ml-2 flex-shrink-0" *ngIf="this.isModOrHigher">
            <button class="btn btn-warning" (click)="this.router.navigate(['guilds', this.guildId, 'cases', this.caseId, 'edit'])">Edit this case</button>
            <button class="btn btn-danger" (click)="deleteCase()">Delete this case</button>
        </div>  
    </div>
    <!-- Labels -->
    <div class="row mt-3 ml-2" title="The case labels">
        <div class="d-flex flex-wrap">
            <h3 *ngFor="let label of (this.caseView | async)?.modCase?.labels">
                <span class="badge badge-pill badge-info mr-1">{{ label }}</span>
            </h3>
        </div>
    </div>
    <!-- cards -->
    <div class="row mb-3">
        <!-- user information -->
        <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2">
            <div class="infobox bg-g-green">
                <div class="infobox-body d-flex flex-row">
                    <div class="flex-grow-1 d-flex flex-column">
                        <span class="font-weight-bold">Suspect</span>
                        <span>{{ (this.caseView | async)?.suspect?.username || (this.caseView | async)?.modCase?.username }}#{{ (this.caseView | async)?.suspect?.discriminator || (this.caseView | async)?.modCase?.discriminator }}</span>
                        <span *ngIf="(this.caseView | async)?.modCase?.nickname">Nickname: {{(this.caseView | async)?.modCase?.nickname }}</span>
                        <span class="text-white-50">UserId: {{(this.caseView | async)?.modCase?.userId }}</span>
                    </div>
                    <div class="infobox-icon">
                        <img
                            src="{{ (this.caseView | async)?.suspect?.imageUrl }}"
                            class="rounded-circle z-depth-0 mr-1"
                            alt="suspect avatar"
                            height="80"
                            onerror="this.src='/assets/img/default_profile.png';"
                        />
                    </div>
                </div>                
            </div>
        </div>
        <!-- guilds information -->
        <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2 crs-pnt" (click)="this.router.navigate(['guilds', this.guildId])">
            <div class="infobox bg-g-blue">
                <div class="infobox-body d-flex flex-row">
                    <div class="flex-grow-1 d-flex flex-column">
                        <span class="font-weight-bold">Guild</span>
                        <span>{{ (this.guild | async).name }}</span>
                        <span class="text-white-50">GuildId: {{(this.caseView | async)?.modCase?.guildId }}</span>
                    </div>
                    <div class="infobox-icon">
                        <img
                            src="https://cdn.discordapp.com/icons/{{ (this.guild | async)?.id }}/{{ (this.guild | async)?.icon }}.png"
                            class="rounded-circle z-depth-0 mr-1"
                            alt="guild icon"
                            height="80"
                        />
                    </div>
                </div>                
            </div>
        </div>
        <!-- moderator information -->
        <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2">
            <div class="infobox bg-g-red">
                <div class="infobox-body d-flex flex-row">
                    <div class="flex-grow-1 d-flex flex-column">
                        <span class="font-weight-bold">Moderator</span>
                        <span>{{ (this.caseView | async)?.moderator?.username }}#{{ (this.caseView | async)?.moderator?.discriminator }}</span>
                        <span style="font-size: medium;" class="text-white-50">ModId: {{(this.caseView | async)?.modCase?.modId }}</span>
                    </div>
                    <div class="infobox-icon">
                        <img
                            src="{{ (this.caseView | async)?.moderator?.imageUrl }}"
                            class="rounded-circle z-depth-0 mr-1"
                            alt="moderator avatar"
                            height="80"
                            onerror="this.src='/assets/img/default_profile.png';"
                        />
                    </div>
                </div>                
            </div>
        </div>
        <!-- punishment information -->
        <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2">
            <div class="infobox bg-g-orange">
                <div class="infobox-body d-flex flex-row">
                    <div class="flex-grow-1 d-flex flex-column">
                        <div class="d-flex flex-row">
                            <span class="font-weight-bold">Punishment</span>
                            <h5 *ngIf="(this.caseView | async)?.modCase?.punishmentType != 0 && (this.caseView | async)?.modCase?.punishmentType != 2">
                                <span class="badge ml-2"
                                    [ngClass]="((this.caseView | async)?.modCase?.punishmentType === 0 || (this.caseView | async)?.modCase?.punishmentActive === true) ? 'badge-danger' : 'badge-dark'"
                                    [attr.title]="((this.caseView | async)?.modCase?.punishmentType === 0 || (this.caseView | async)?.modCase?.punishmentActive === true) ? '' : 'This punishment is expired.'">
                                    {{ (this.caseView | async)?.modCase?.punishment }}
                                </span>
                            </h5>
                        </div>
                        <h3 *ngIf="(this.caseView | async)?.modCase?.punishmentType == 0 || (this.caseView | async)?.modCase?.punishmentType == 2">
                            <span class="badge ml-2"
                                [ngClass]="((this.caseView | async)?.modCase?.punishmentType === 0 || (this.caseView | async)?.modCase?.punishmentActive === true) ? 'badge-danger' : 'badge-dark'"
                                [attr.title]="((this.caseView | async)?.modCase?.punishmentType === 0 || (this.caseView | async)?.modCase?.punishmentActive === true) ? '' : 'This punishment is expired.'">
                                {{ (this.caseView | async)?.modCase?.punishment }}
                            </span>
                        </h3>
                        <ng-container *ngIf="(this.caseView | async)?.modCase?.punishmentType != 0 && (this.caseView | async)?.modCase?.punishmentType != 2">
                            <span *ngIf="(this.caseView | async)?.modCase?.punishedUntil else punishedForever">
                                Until: {{ (this.caseView | async)?.modCase?.punishedUntil | date:'dd.MM.Y HH:mm:ss' }} (UTC)
                                <span *ngIf="(this.caseView | async)?.modCase?.punishmentActive === false">Punishment inactive.</span>
                            </span>
                            <ng-template #punishedForever>Punished until: Forever.</ng-template>
                            <div class="progress w-100 m-auto" *ngIf="(this.caseView | async)?.modCase?.punishmentActive === true && (this.caseView | async)?.punishmentProgress">
                                <div
                                class="progress-bar"
                                role="progressbar"
                                title="Punishment progress"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                [attr.aria-valuenow]="(this.caseView | async)?.punishmentProgress"
                                [style.width]="(this.caseView | async)?.punishmentProgress + '%'"
                                ></div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="infobox-icon">
                        <i class="fas fa-bolt fa-5x"></i>
                    </div>
                </div>                
            </div>
        </div>
        <!-- created at information -->
        <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2">
            <div class="infobox bg-g-pink">
                <div class="infobox-body d-flex flex-row">
                    <div class="flex-grow-1 d-flex flex-column">
                        <span class="font-weight-bold">Created At</span>
                        <span>{{ (this.caseView | async)?.modCase?.createdAt | date:'dd.MM.Y HH:mm:ss' }} (UTC)</span>          
                        <span class="font-weight-bold" *ngIf="(this.caseView | async)?.modCase?.lastEditedAt != (this.caseView | async)?.modCase?.createdAt">Last Edited At</span>
                        <span *ngIf="(this.caseView | async)?.modCase?.lastEditedAt != (this.caseView | async)?.modCase?.createdAt">{{ (this.caseView | async)?.modCase?.lastEditedAt | date:'dd.MM.Y HH:mm:ss' }} (UTC)</span>              
                    </div>
                    <div class="infobox-icon">
                        <i class="far fa-clock fa-5x"></i>
                    </div>
                </div>                
            </div>
        </div>
        <!-- Last moderator information -->
        <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2" *ngIf="(this.caseView | async)?.modCase?.lastEditedAt != (this.caseView | async)?.modCase?.createdAt">
            <div class="infobox bg-g-red">
                <div class="infobox-body d-flex flex-row">
                    <div class="flex-grow-1 d-flex flex-column">
                        <span class="font-weight-bold">Last Edit by Moderator</span>
                        <span>{{ (this.caseView | async)?.lastModerator?.username }}#{{ (this.caseView | async)?.lastModerator?.discriminator }}</span>
                        <span class="text-white-50">ModId: {{(this.caseView | async)?.modCase?.lastEditedByModId }}</span>
                    </div>
                    <div class="infobox-icon">
                        <img
                            src="{{ (this.caseView | async)?.lastModerator?.imageUrl }}"
                            class="rounded-circle z-depth-0 mr-1"
                            alt="lastModerator avatar"
                            height="80"
                            onerror="this.src='/assets/img/default_profile.png';"
                        />
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <!-- Description -->
    <div class="mb-3">
        <h4 class="font-weight-bold">Description</h4>
        <hr/>
        <span style="white-space: pre-wrap; word-wrap: break-word" class="text-monospace">{{ (this.caseView | async)?.modCase?.description }}</span>
    </div>

    <!-- Files -->
    <div class="mb-3" *ngIf="this.isModOrHigher || (this.files | async)?.names?.length != 0">
        <h4 class="font-weight-bold">Uploaded files ({{ (this.files | async)?.names?.length }})</h4>
        <hr/>
        <div class="mt-3 d-flex flex-row align-items-baseline" *ngIf="this.isModOrHigher">
            <div class="input-group flex-grow-0">
                <div class="form-group">
                    <label class="custom-file-label" for="file">{{ this.fileToUpload ? this.fileToUpload.name : 'Choose file'}}</label>
                    <input type="file" id="file" class="custom-file-input"
                        aria-describedby="file-input-label"
                        (change)="handleFileInput($event)">
                </div>
            </div>
            <button class="btn btn-success flex-shrink-0" (click)="uploadFile()" [attr.disabled]="this.fileToUpload ? null : ''">
                Upload
            </button>
        </div>
        <div class="row mt-2" id="files-viewer">
            <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2" *ngFor="let file of (this.files | async)?.names">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">{{ file.substr(file.indexOf('_', 45) + 1) }}</h5>
                        <div class="d-flex flex-row flex-wrap justify-content-center">
                            <a href="/api/v1/guilds/{{ this.guildId }}/modcases/{{ this.caseId }}/files/{{ file }}"
                                class="btn btn-primary flex-shrink-1" target="_blank">
                                View
                            </a>
                            <button class="btn btn-danger" *ngIf="this.isModOrHigher" (click)="deleteFile(file)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments -->
    <div>
        <h4 class="font-weight-bold">Comments ({{ (this.caseView | async)?.comments?.length }})</h4>
        <hr/>
        <div class="d-flex flex-column flex-wrap justify-content-between mt-2">
            <div class="card mb-3" *ngFor="let comment of (this.caseView | async)?.comments">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex flex-row flex-grow-1 w-100 align-self-start">
                        <img
                            src="{{ comment?.user?.imageUrl }}"
                            class="card-img rounded-circle z-depth-0 mr-1"
                            alt="avatar icon"
                            height="35"
                            style="width: unset"
                        />

                        <!-- Title -->
                        <span class="card-title">
                            <h4 style="display: inline;">{{ comment?.user?.username || comment?.user?.id }}#{{ comment?.user?.discriminator || comment?.user?.id }}</h4>
                            <span class="text-black-50">  {{ comment.createdAt | date:'dd.MM.Y HH:mm:ss'  }}</span>
                        </span>
                        
                        <div class="flex-grow-1"></div>

                        <!-- Icons -->
                        <div class="d-flex flex-row flex-wrap align-self-end flex-grow-0" *ngIf="(this.currentUser | async)?.discordUser?.id === comment.userId || (this.isModOrHigher)">
                            <button class="btn btn-danger" (click)="deleteComment(comment.id)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button class="btn btn-warning" (click)="updateComment(comment.id)">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </div>
                    <div class="">
                        <!-- Text -->
                        <div class="card-text">
                            <span style="white-space: pre-wrap; word-wrap: anywhere;" class="text-monospace">{{ comment.message }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="newCommentParent" class="d-flex flex-row">
            <div class="flex-grow-1">
                <div class="md-form">
                    <textarea type="text" id="newComment" class="md-textarea form-control" placeholder="My new comment" [(ngModel)]="newComment"></textarea>
                </div>
            </div>
            <button type="submit" class="flex-shrink-1 mt-auto mb-auto btn btn-success btn-md" (click)="sendComment()" [attr.disabled]="this.newComment?.trim() ? null : ''">
                Post comment
            </button>
        </div>
    </div>
</div>
