#files-viewer > div {
    margin: 8px;
    width: 20rem;
}
#files-viewer .card-img-top {
   width: 100%;
   height: 10vw;
   object-fit: cover;
}

.alert {
    padding: 20px;
    background-color: rgb(204, 122, 0);
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
