<div class="d-flex flex-column justify-content-center align-items-center h-100">
  <div class="d-flex flex-column justify-content-center align-items-center w-75">
    <img [attr.src]="applicationInfo?.iconUrl ?? 'assets/img/masz.png'"
          alt="icon" height="200px" width="200px"
          class="mb-4"
          [class.rounded-circle]="applicationInfo?.iconUrl"
          onerror="this.src='assets/img/masz.png'"
          *ngIf="!this.attemptingLogin && !initLoading" />
    <mat-spinner class="mb-4" *ngIf="this.attemptingLogin || initLoading"></mat-spinner>
    <button mat-raised-button color="primary" class="big-button mat-display-1 mb-1" *ngIf="!this.attemptingLogin" (click)="redirectToApiLogin()">
      {{ 'LoginWithDiscord.Button' | translate }}
    </button>
    <button mat-raised-button color="primary" class="big-button mat-display-1 mb-1" *ngIf="this.attemptingLogin" [disabled]="true">
      {{ 'LoginWithDiscord.Loading' | translate }}
    </button>
    <span>
      <ng-container *ngIf="applicationInfo?.termsOfServiceUrl; else elseTemplateToSIndex">
        <a href="{{ applicationInfo?.termsOfServiceUrl }}" style="color: inherit; text-decoration: none" target="_blank">
          {{ 'AcceptTermsOnLogin' | translate }}
        </a>
      </ng-container>
      <ng-template #elseTemplateToSIndex>
        <a routerLink="/guidelines" style="color: inherit; text-decoration: none">
          {{ 'AcceptTermsOnLogin' | translate }}
        </a>
      </ng-template>
    </span>
  </div>
</div>