<div class="d-flex flex-column justify-content-center align-items-center h-100">
  <div class="d-flex flex-column justify-content-center align-items-center w-75">
    <img src="assets/img/masz.png" alt="icon" height="200px" class="mb-4" *ngIf="!this.attemptingLogin"/>
    <mat-spinner class="mb-4" *ngIf="this.attemptingLogin"></mat-spinner>
    <button mat-raised-button color="primary" class="big-button mat-display-1 mb-1" *ngIf="!this.attemptingLogin" (click)="redirectToApiLogin()">
      Login with Discord
    </button>
    <button mat-raised-button color="primary" class="big-button mat-display-1 mb-1" *ngIf="this.attemptingLogin" [disabled]="true">
      Logging you in with Discord
    </button>
    <span>
      By logging in you accept our 
      <a routerLink="/guidelines" style="color: inherit; text-decoration: none">
        <span style="font-weight: bold;" class="primary-color">Terms</span>
        and
        <span style="font-weight: bold;" class="primary-color">Guidelines</span>
      </a>.
    </span>
  </div>
</div>