<div class="d-flex justify-content-between align-items-start">
    <h3><span class="badge badge-success">New ModCase</span></h3>
</div>
<br>
<div class="d-flex flex-wrap">
    <div class="md-form flex-grow-1">
        <input type="text" id="form-userid" class="form-control" placeholder="UserId" [(ngModel)]="this.userid">
    </div>
    <div class="flex-grow-1">
        <label for="form-severity">Severity</label>
        <select id="form-severity" class="form-control browser-default custom-select" [(ngModel)]="this.severity">
            <option selected value="0">Low</option>
            <option value="1">Normal</option>
            <option value="2">High</option>
            <option value="3">Epic</option>
        </select>
    </div>
</div>
<div class="">
    <div class="md-form d-flex flex-row">
        <input type="text" id="form-label-new" class="form-control flex-shrink-1" style="width:20%" placeholder="Labels" [(ngModel)]="newLabel" />
        <button class="btn btn-default" id="form-labels-button" (click)="addLabel()" [attr.disabled]="this.newLabel !== '' && this.labels.indexOf(this.newLabel.trim()) === -1 ? null : ''">
            Add label <i class="fas fa-plus ml-1"></i>
        </button>
    </div>
    <ul id="form-labels" class="list-group list-group-horizontal-lg d-flex flex-wrap"
        style="list-style: none;" id="form-labels">
        <h4 *ngFor="let label of labels">
            <span title="Click to delete" (click)="deleteLabel(label)" class="badge badge-pill badge-info mr-1 custom-label">{{ label }}</span>
        </h4>
    </ul>
</div>

<div class="md-form">
    <input type="text" id="form-title" class="form-control" placeholder="Title" [(ngModel)]="this.title">
</div>

<div class="md-form">
    <textarea id="form-description" class="form-control md-textarea" placeholder="Description" [(ngModel)]="this.description"></textarea>
</div>
<div class="">
    <label for="form-punishment">Punishment</label>
    <select id="form-punishment" class="form-control browser-default custom-select" [(ngModel)]="this.punishment">
        <option value="0">Warn</option>
        <option value="1">Mute</option>
        <option value="2">TempMute</option>
        <option value="3">Kick</option>
        <option value="4">Ban</option>
        <option value="5">TempBan</option>
        <option value="6">Notice</option>
        <option value="7">None</option>
    </select>
</div>
<div class="md-form" *ngIf="this.punishment == '2' || this.punishment == '5'">
    <input [(ngModel)]="punishedUntil" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Punished until" id="form-punished-until">
    <owl-date-time #dt1></owl-date-time>
</div>
<br>
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="form-send-notification" [(ngModel)]="this.publicNotification">
    <label class="custom-control-label" for="form-send-notification">Send notification?</label>
</div>
<br>
<div class="custom-control custom-checkbox" *ngIf="this.punishment !== '0' && this.punishment !== '6' && this.punishment !== '7'">
    <input type="checkbox" class="custom-control-input" id="form-handle-punishment" [(ngModel)]="this.handlePunishment">
    <label class="custom-control-label" for="form-handle-punishment">Handle punishment?</label>
</div>
<div class="md-form">
    <button type="submit" id="form-submit" name="submit" (click)="submitCase()"
            class="btn btn-success btn-lg btn-block waves-effect waves-light"
            [attr.disabled]="this.title.trim() !== '' && this.userid !== '' && this.description !== '' ? null : ''">
            CREATE CASE
        </button>
</div>