.moderation {
    -webkit-transition: transform 0.3s ease-in;
    -moz-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
}

.moderation:hover, .moderation-big {
    transform: scaleX(1.05);
    -moz-transform: scaleX(1.05);
    -webkit-transform: scaleX(1.05);
    -o-transform: scaleX(1.05);
    -ms-transform: scaleX(1.05);
}

.moderation {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.moderation-without-hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

a {
    color: unset;
    text-decoration: none; /* no underline */
}
