<div style="height: 100px;" class="dp-on-big-screen"></div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center cw-75-100">
        <mat-vertical-stepper [linear]="true" #stepper color="accent" class="cw-75-100">
            <mat-step [stepControl]="templateFormGroup" [optional]="true">
                <ng-template matStepLabel>{{ 'ModCaseDialog.SelectATemplate' | translate }}</ng-template>
                <button mat-raised-button color="accent" routerLink="/guilds/{{ this.guildId }}">{{ 'ModCaseDialog.BackToGuild' | translate }}</button><br/>
                <ng-container *ngIf="!this.templates.loading">
                    <mat-form-field>
                        <mat-label>{{ 'ModCaseDialog.SearchTemplate' | translate }}</mat-label>
                        <input matInput type="text" [(ngModel)]="templateSearch" (ngModelChange)="searchTemplate()">
                    </mat-form-field>
                    <mat-list>
                        <mat-list-item class="crs-ptr" *ngFor="let note of this.templates.content" (click)="applyTemplate(note.caseTemplate, stepper)">
                            <img width="40px" height="40px" class="rounded-circle mr-2"
                             alt="creator {{ note.caseTemplate?.userId }}" src="{{ note.creator?.imageUrl }}" />
                            <div class="mr-2">
                                {{note.caseTemplate.templateName}}
                            </div>
                            <button mat-mini-fab color="primary" aria-label="delete template"
                             (click)="deleteTemplate(note.caseTemplate.id); $event.stopPropagation()" *ngIf="this.currentUser?.discordUser?.id === note.caseTemplate.userId || this.currentUser?.isAdmin">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-list-item>
                    </mat-list>
                    <span *ngIf="!this.templates.content?.length">No templates found :(</span>
                </ng-container>
                <mat-spinner *ngIf="this.templates.loading"></mat-spinner>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperNext color="accent">{{ 'ModCaseDialog.Next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="memberFormGroup">
                <ng-template matStepLabel>{{ 'ModCaseDialog.ChooseAMember' | translate }}</ng-template>
                <mat-spinner *ngIf="this.members.loading"></mat-spinner>
                <form [formGroup]="memberFormGroup" *ngIf="!this.members.loading">
                    <mat-form-field>
                        <mat-label>{{ 'ModCaseDialog.Member' | translate }}</mat-label>
                        <input type="text"
                            placeholder="{{ 'ModCaseDialog.PickOne' | translate }}"
                            aria-label="Member"
                            matInput
                            formControlName="member"
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of this.filteredMembers | async" [value]="option.id">
                            {{option.username}}#{{option.discriminator}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">{{ 'ModCaseDialog.Back' | translate }}</button>
                    <button mat-raised-button matStepperNext color="accent">{{ 'ModCaseDialog.Next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="infoFormGroup">
                <ng-template matStepLabel>{{ 'ModCaseDialog.DescribeCase' | translate }}</ng-template>
                <form [formGroup]="infoFormGroup">
                    <mat-form-field class="w-100">
                        <mat-label>{{ 'ModCaseDialog.Title' | translate }}</mat-label>
                        <input matInput type="text" formControlName="title">
                    </mat-form-field><br/>
                    <mat-form-field class="w-100">
                        <mat-label>{{ 'ModCaseDialog.Description' | translate }}</mat-label>
                        <textarea matInput type="text" formControlName="description"></textarea>
                    </mat-form-field><br/>
                    <mat-form-field class="w-100">
                        <mat-label>{{ 'ModCaseDialog.Labels' | translate }}</mat-label>
                        <mat-chip-list #chipList aria-label="Labels">
                            <mat-chip *ngFor="let label of caseLabels" [selectable]="true"
                                    color="accent" [removable]="true" (removed)="remove(label)">
                            {{label}}
                            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                            </mat-chip>
                            <input  #labelInput
                                    placeholder="{{ 'ModCaseDialog.NewLabel' | translate }}"
                                    [formControl]="labelInputForm"
                                    [matAutocomplete]="auto"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="false"
                                    (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="autoCompleteSelected($event)">
                            <mat-option *ngFor="let label of filteredLabels | async" [value]="label?.cleanValue ?? label.label">
                                <span [innerHtml]="label.label"></span><span> ({{ label.count }})</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">{{ 'ModCaseDialog.Back' | translate }}</button>
                    <button mat-raised-button matStepperNext color="accent">{{ 'ModCaseDialog.Next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="punishmentFormGroup">
                <ng-template matStepLabel>{{ 'ModCaseDialog.ChoosePunishment' | translate }}</ng-template>
                <form [formGroup]="punishmentFormGroup">
                    <mat-form-field>
                        <mat-label>{{ 'ModCaseDialog.Punishment' | translate }}</mat-label>
                        <mat-select formControlName="punishmentType">
                        <mat-option *ngFor="let enum of punishmentOptions.content" [value]="enum.key">{{ enum.value }}</mat-option>
                        </mat-select>
                    </mat-form-field><br/>
                    <mat-checkbox
                        formControlName="dmNotification"
                        [labelPosition]="'after'">
                        {{ 'ModCaseDialog.SendDmNotification' | translate }}
                    </mat-checkbox><br/>
                    <mat-checkbox *ngIf="this.punishmentFormGroup.value.punishmentType >= 1"
                        formControlName="handlePunishment"
                        [labelPosition]="'after'">
                        {{ 'ModCaseDialog.HandlePunishment' | translate }}
                    </mat-checkbox><br/>
                    <app-date-picker *ngIf="this.punishmentFormGroup.value.punishmentType === 1 || this.punishmentFormGroup.value.punishmentType === 3"
                       (dateChanged)="punishedUntilChanged($event)" [dateChangedInParent]="punishedUntilChangeForPicker" >
                    </app-date-picker>
                </form>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">{{ 'ModCaseDialog.Back' | translate }}</button>
                    <button mat-raised-button matStepperNext color="accent">{{ 'ModCaseDialog.Next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="filesFormGroup" [optional]="true">
                <ng-template matStepLabel>{{ 'ModCaseDialog.UploadFiles' | translate }}</ng-template>
                <form>
                    <button mat-raised-button color="accent" (click)="uploadInit()">
                        <mat-icon>file_upload</mat-icon>
                        {{ 'ModCaseDialog.Upload' | translate }}
                    </button>
                    <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
                </form>
                <mat-list>
                    <mat-list-item *ngFor="let note of this.filesToUpload">
                        <mat-icon mat-list-icon>note</mat-icon>
                        <div mat-line>{{note.data.name}}</div>
                    </mat-list-item>
                </mat-list>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">{{ 'ModCaseDialog.Back' | translate }}</button>
                    <button mat-raised-button matStepperNext color="accent">{{ 'ModCaseDialog.Next' | translate }}</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="optionsFormGroup">
                <ng-template matStepLabel>{{ 'ModCaseDialog.CreateCase' | translate }}</ng-template>
                <form [formGroup]="optionsFormGroup">
                    <mat-checkbox
                        formControlName="sendNotification"
                        [labelPosition]="'after'">
                        {{ 'ModCaseDialog.PublicNotification' | translate }}
                    </mat-checkbox>
                </form>
                <div *ngIf="!this.savingCase" class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">{{ 'ModCaseDialog.Back' | translate }}</button>
                    <button mat-raised-button class="mr-2 mb-2" (click)="saveTemplate()" color="accent">{{ 'ModCaseDialog.SaveAsTemplate' | translate }}</button>
                    <button mat-raised-button color="accent" (click)="createCase()">{{ 'ModCaseDialog.CreateCaseButton' | translate }}</button>
                </div>
                <mat-spinner *ngIf="this.savingCase"></mat-spinner>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>