<div style="height: 100px;" class="dp-on-big-screen"></div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center cw-75-100">
        <mat-vertical-stepper [linear]="true" #stepper color="accent" class="cw-75-100">
            <mat-step [stepControl]="templateFormGroup" [optional]="true">
                <ng-template matStepLabel>Select a template</ng-template>
                <button mat-raised-button color="accent" routerLink="/guilds/{{ this.guildId }}">Back to guild.</button><br/>
                <ng-container *ngIf="!this.templates.loading">
                    <mat-form-field>
                        <mat-label>Search template</mat-label>
                        <input matInput type="text" [(ngModel)]="templateSearch" (ngModelChange)="searchTemplate()">
                    </mat-form-field>                          
                    <mat-list>
                        <mat-list-item class="crs-ptr" *ngFor="let note of this.templates.content" (click)="applyTemplate(note.caseTemplate, stepper)">
                            <img width="40px" height="40px" class="rounded-circle mr-2"
                             alt="creator {{ note.caseTemplate?.userId }}" src="{{ note.creator?.imageUrl }}" />
                            <div class="mr-2">
                                {{note.caseTemplate.templateName}}
                            </div>
                            <button mat-mini-fab color="primary" aria-label="delete template"
                             (click)="deleteTemplate(note.caseTemplate.id); $event.stopPropagation()" *ngIf="this.currentUser?.discordUser?.id === note.caseTemplate.userId || this.currentUser?.isAdmin">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-list-item>
                    </mat-list>
                    <span *ngIf="!this.templates.content?.length">No templates found :(</span>
                </ng-container>
                <mat-spinner *ngIf="this.templates.loading"></mat-spinner>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">Back</button>
                    <button mat-raised-button matStepperNext color="accent">Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="memberFormGroup">
                <ng-template matStepLabel>Choose a member</ng-template>
                <mat-spinner *ngIf="this.members.loading"></mat-spinner>
                <form [formGroup]="memberFormGroup" *ngIf="!this.members.loading">
                    <mat-form-field>
                        <mat-label>Member</mat-label>
                        <input type="text"
                            placeholder="Pick one"
                            aria-label="Member"
                            matInput
                            formControlName="member"
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of this.filteredMembers | async" [value]="option.id">
                            {{option.username}}#{{option.discriminator}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">Back</button>
                    <button mat-raised-button matStepperNext color="accent">Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="infoFormGroup">
                <ng-template matStepLabel>Describe the case</ng-template>
                <form [formGroup]="infoFormGroup">
                    <mat-form-field class="w-100">
                        <mat-label>Title</mat-label>
                        <input matInput type="text" formControlName="title">
                    </mat-form-field><br/>
                    <mat-form-field class="w-100">
                        <mat-label>Description</mat-label>
                        <textarea matInput type="text" formControlName="description"></textarea>
                    </mat-form-field><br/>
                    <mat-form-field class="w-100">
                        <mat-label>Labels</mat-label>
                        <mat-chip-list #chipList aria-label="Labels">
                            <mat-chip *ngFor="let label of caseLabels" [selectable]="true"
                                    color="accent" [removable]="true" (removed)="remove(label)">
                            {{label}}
                            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="New label..."
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="true"
                                    (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        </mat-form-field>
                </form>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">Back</button>
                    <button mat-raised-button matStepperNext color="accent">Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="punishmentFormGroup">
                <ng-template matStepLabel>Choose a punishment</ng-template>
                <form [formGroup]="punishmentFormGroup">
                    <mat-form-field>
                        <mat-label>Punishment</mat-label>
                        <mat-select formControlName="punishmentType">
                        <mat-option *ngFor="let enum of punishmentOptions.content" [value]="enum.key">{{ enum.value }}</mat-option>
                        </mat-select>
                    </mat-form-field><br/>
                    <mat-checkbox
                        formControlName="dmNotification"
                        [labelPosition]="'after'">
                        Send dm notification
                    </mat-checkbox><br/>
                    <mat-checkbox *ngIf="this.punishmentFormGroup.value.punishmentType >= 1"
                        formControlName="handlePunishment"
                        [labelPosition]="'after'">
                        Handle this punishment
                    </mat-checkbox><br/>
                    <mat-form-field *ngIf="this.punishmentFormGroup.value.punishmentType === 1 || this.punishmentFormGroup.value.punishmentType === 3">
                        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="punishedUntil">
                        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker [color]="'accent'">
                          <!-- Custom icon or text of Apply icon -->
                          <ng-template>
                            <mat-icon>done</mat-icon>
                            <span>OK</span>
                          </ng-template>
                        </ngx-mat-datetime-picker>
                      </mat-form-field>
                </form>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">Back</button>
                    <button mat-raised-button matStepperNext color="accent">Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="filesFormGroup" [optional]="true">
                <ng-template matStepLabel>Upload files</ng-template>
                <form>
                    <button mat-raised-button color="accent" (click)="uploadInit()">
                        <mat-icon>file_upload</mat-icon>
                        Upload
                    </button>
                    <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
                </form>
                <mat-list>
                    <mat-list-item *ngFor="let note of this.filesToUpload">
                        <mat-icon mat-list-icon>note</mat-icon>
                        <div mat-line>{{note.data.name}}</div>
                    </mat-list-item>
                </mat-list>
                <div class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">Back</button>
                    <button mat-raised-button matStepperNext color="accent">Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="optionsFormGroup">
                <ng-template matStepLabel>Create case</ng-template>
                <form [formGroup]="optionsFormGroup">
                    <mat-checkbox
                        formControlName="sendNotification"
                        [labelPosition]="'after'">
                        Send public notification
                    </mat-checkbox>
                </form>
                <div *ngIf="!this.savingCase" class="stepper-actions">
                    <button mat-raised-button matStepperPrevious class="mr-2 mb-2" color="accent">Back</button>
                    <button mat-raised-button class="mr-2 mb-2" (click)="saveTemplate()" color="accent">Save as template</button>
                    <button mat-raised-button color="accent" (click)="createCase()">Create case</button>
                </div>
                <mat-spinner *ngIf="this.savingCase"></mat-spinner>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>