{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper d-flex align-items-stretch">
        {% include 'sidebar.html.twig' %}
        <div id="content" class="p-4 p-md-5">
            <h6>Alle ModCases</h6>
        </div>
    </div>

{% endblock body %}