{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper d-flex align-items-stretch">
        {% include 'sidebar.html.twig' %}
        <div id="content" class="p-4 p-md-5">
            {{ datas|json_encode }}
        </div>
    </div>

{% endblock body %}