.pictures-parent {
    position: relative;
    top: 0;
    left: 0;
}

.first-image {
    position: relative;
    top: 20px;
    left: -12px;
}

.second-image {
    position: absolute;
    top: 56px;
    left: -12px;
}

.delete-icon {
    display: inline-block;
    border-radius: 60px;
    background-color: rgb(172, 0, 15);
    box-shadow: 0px 0px 2px rgb(172, 0, 15);
    padding: 0.5em 0.6em;
}
