<div class="d-flex flex-column w-100">
    <div class="d-flex flex-row flex-wrap">
        <app-dashboard-guildinfo class="flex-grow-1 m-2"></app-dashboard-guildinfo>
        <!-- Create new case button -->
        <div class="d-flex flex-column m-2">
            <div class="flex-grow-1"></div>
            <div class="flex-shrink-0 mt-0 mb-0">
                <button type="submit" name="submit" routerLink="/guilds/{{ guildId }}/cases/new" class="mat-h1 p-2" mat-raised-button color="accent">
                    Create new case
                </button>
            </div>
            <div class="flex-grow-1"></div>
        </div>
    </div>
    <app-dashboard-quicksearch class="d-flex flex-column m-2"></app-dashboard-quicksearch>
    <app-dashboard-charts class="m-2"></app-dashboard-charts>
    <div class="d-flex flex-row flex-wrap conditional-fc mb-2">
        <div class="d-flex flex-column flex-wrap flex-grow-1" style="flex-basis: 0px;">
            <app-dashboard-guild-stats class="m-2" style="flex-basis: 0px;"></app-dashboard-guild-stats>
            <app-dashboard-case-list class="m-2" style="flex-basis: 0px;" [title]="'Newest cases'" [resource]="'modcasetable'"></app-dashboard-case-list>
            <app-dashboard-comment-list class="m-2" style="flex-basis: 0px;"></app-dashboard-comment-list>
        </div>
        <div class="d-flex flex-column flex-wrap flex-grow-1" style="flex-basis: 0px;">
            <app-dashboard-motd class="m-2" style="flex-basis: 0px;"></app-dashboard-motd>
            <app-dashboard-case-list class="m-2" style="flex-basis: 0px;" [title]="'Expiring punishments'" [resource]="'expiringpunishment'"></app-dashboard-case-list>
        </div>
    </div>
</div>