<div class="d-flex flex-column w-100">
    <div class="d-flex flex-row flex-wrap">
        <app-dashboard-guildinfo class="flex-grow-1"></app-dashboard-guildinfo>
        <!-- Create new case button -->
        <div class="d-flex flex-column" style="margin: 0.5rem">
            <div class="flex-grow-1"></div>
            <div class="flex-shrink-0 mt-0 mb-0">
                <button type="submit" name="submit" routerLink="/guilds/{{ guildId }}/cases/new" class="p-2" mat-raised-button color="accent">
                    Create new case
                </button>
            </div>
            <div class="flex-grow-1"></div>
        </div>
    </div>
    <app-dashboard-quicksearch class="d-flex flex-column"></app-dashboard-quicksearch>
    <app-dashboard-charts></app-dashboard-charts>
    <div class="d-flex flex-row flex-wrap conditional-fc mb-2">
        <div class="d-flex flex-column flex-wrap flex-grow-1" style="flex-basis: 0px;">
            <app-dashboard-guild-stats style="flex-basis: 0px;"></app-dashboard-guild-stats>
            <app-dashboard-automod-split style="flex-basis: 0px;"></app-dashboard-automod-split>
            <app-dashboard-case-list style="flex-basis: 0px;" [title]="'Newest cases'" [resource]="'modcasetable'"></app-dashboard-case-list>
        </div>
        <div class="d-flex flex-column flex-wrap flex-grow-1" style="flex-basis: 0px;">
            <app-dashboard-motd style="flex-basis: 0px;"></app-dashboard-motd>
            <app-dashboard-case-list style="flex-basis: 0px;" [title]="'Expiring punishments'" [resource]="'expiringpunishment'"></app-dashboard-case-list>
            <app-dashboard-comment-list style="flex-basis: 0px;"></app-dashboard-comment-list>
        </div>
    </div>
</div>