<div class="d-flex flex-column w-100">
    <app-dashboard-guildinfo class="flex-grow-1"></app-dashboard-guildinfo>
    <app-dashboard-quicksearch class="d-flex flex-column"></app-dashboard-quicksearch>
    <app-dashboard-charts></app-dashboard-charts>
    <div class="d-flex flex-row flex-wrap conditional-fc mb-2">
        <div class="d-flex flex-column flex-wrap flex-grow-1" style="flex-basis: 0px;">
            <app-dashboard-guild-stats style="flex-basis: 0px;"></app-dashboard-guild-stats>
            <app-dashboard-automod-split style="flex-basis: 0px;"></app-dashboard-automod-split>
            <app-dashboard-case-list style="flex-basis: 0px;" [title]="'NewestCases'" [resource]="'modcasetable'"></app-dashboard-case-list>
        </div>
        <div class="d-flex flex-column flex-wrap flex-grow-1" style="flex-basis: 0px;">
            <app-dashboard-motd style="flex-basis: 0px;"></app-dashboard-motd>
            <app-dashboard-case-list style="flex-basis: 0px;" [title]="'ExpiringPunishments'" [resource]="'expiringpunishment'"></app-dashboard-case-list>
            <app-dashboard-comment-list style="flex-basis: 0px;"></app-dashboard-comment-list>
        </div>
    </div>
</div>