<div class="d-flex flex-column w-100">
    <div class="p-2">
        <div class="d-flex flex-row flex-wrap align-items-center mb-2">
            <div class="d-flex flex-column flex-wrap mb-2">
                <div class="custom-control custom-switch">
                    <mat-slide-toggle
                        color="accent"
                        [(ngModel)]="excludeAutoModeration" (ngModelChange)="applyCurrentFilters()">
                        {{ 'ModCaseTable.ExcludeAutoMod' | translate }}
                    </mat-slide-toggle>
                </div>
                <div class="custom-control custom-switch">
                    <mat-slide-toggle
                        color="accent"
                        [(ngModel)]="excludePermaPunishments" (ngModelChange)="applyCurrentFilters()">
                        {{ 'ModCaseTable.ExcludePermanent' | translate }}
                    </mat-slide-toggle>
                </div>
                <div class="custom-control custom-switch">
                    <mat-slide-toggle
                        color="accent"
                        [(ngModel)]="onlyShowActivePunishments" (ngModelChange)="applyCurrentFilters()">
                        {{ 'ModCaseTable.ExcludeInactive' | translate }}
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="flex-grow-1"></div>
            <button mat-raised-button color="accent" routerLink="/guilds/{{this.guildId}}/cases/new" *ngIf="this.isModOrHigher | async" class="mr-2">
                {{ 'ModCaseTable.CreateNewCase' | translate }}
            </button>
            <mat-form-field>
                <mat-label>{{ 'ModCaseTable.Search' | translate }}</mat-label>
                <input matInput type="text" autocomplete="off" [attr.disabled]="this.loading ? '' : null"
                [(ngModel)]="this.search" (ngModelChange)="searchChanged($event)">
            </mat-form-field>
        </div>
        <mat-spinner *ngIf="this.loading"></mat-spinner>
        <div class="d-flex flex-column" *ngIf="!this.loading">
            <app-modcase-card *ngFor="let case of this.showTable"
            [entry]="case" class="mb-2">
            </app-modcase-card>
            <div class="d-flex flex-row" *ngIf="this.showTable.length !== 0 && !this.search?.trim() && this.casesTable.length % 20 === 0">
                <div class="flex-grow-1"></div>
                <button mat-raised-button color="accent" (click)="loadNextPage()">Load more cases</button>
                <div class="flex-grow-1"></div>
            </div>
            <div class="card-container rounded m-2 mb-3" *ngIf="this.showTable.length === 0">
                <div class="card-container-body">
                    <span class="mat-h1">{{ 'ModCaseTable.NothingHere' | translate }}</span>
                    <p class="card-text">{{ 'ModCaseTable.NoMatches' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>