<div class="d-flex flex-column w-100">
    <div class="p-2">
        <div class="d-flex flex-row flex-wrap align-items-center mb-2">
            <div class="d-flex flex-column flex-wrap mb-2">
                <div class="custom-control custom-switch">
                    <mat-slide-toggle
                        color="accent"
                        [(ngModel)]="excludePermaPunishments" (ngModelChange)="applyCurrentFilters()">
                        {{ 'ModCaseTable.ExcludePermanent' | translate }}
                    </mat-slide-toggle>
                </div>
                <div class="custom-control custom-switch">
                    <mat-slide-toggle
                        color="accent"
                        (ngModelChange)="apiFilter = {}; search = ''"
                        [(ngModel)]="useAdvancedFilters">
                        {{ 'ModCaseTable.UseAdvancedFilter' | translate }}
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="flex-grow-1"></div>
            <button mat-raised-button color="accent" routerLink="/guilds/{{this.guildId}}/cases/new" *ngIf="this.isModOrHigher | async" class="mr-2">
                {{ 'ModCaseTable.CreateNewCase' | translate }}
            </button>
        </div>
        <!-- Filters -->
        <div class="d-flex flex-row flex-wrap mb-2 align-items-baseline" *ngIf="useAdvancedFilters">
            <app-multi-select class="px-2 pb-2" [elements]="this.members" (selected)="selectedMemberChanged($event)"
                              [placeholderKey]="'ModCaseTable.SelectMembers'"
                              [searchPredicate]="userFilterPredicate"
                              [compareWithPredicate]="userComparePredicate"
                              [displayPredicate]="userDisplayPredicate"></app-multi-select>
            <app-multi-select class="px-2 pb-2" [elements]="this.members" (selected)="selectedModChanged($event)"
                              [placeholderKey]="'ModCaseTable.SelectModerators'"
                              [searchPredicate]="userFilterPredicate"
                              [compareWithPredicate]="userComparePredicate"
                              [displayPredicate]="userDisplayPredicate"></app-multi-select>
            <app-multi-select class="px-2 pb-2" [elements]="this.caseCreationTypes" (selected)="selectedCreationTypeChanged($event)"
                              [placeholderKey]="'ModCaseTable.SelectCreationTypes'"
                              [searchPredicate]="enumFilterPredicate"
                              [displayPredicate]="enumDisplayPredicate"></app-multi-select>
            <app-multi-select class="px-2 pb-2" [elements]="this.punishmentTypes" (selected)="selectedPunishmentTypeChanged($event)"
                              [placeholderKey]="'ModCaseTable.SelectPunishments'"
                              [searchPredicate]="enumFilterPredicate"
                              [displayPredicate]="enumDisplayPredicate"></app-multi-select>
            <mat-form-field class="px-2 pb-2">
                <mat-label>{{ 'ModCaseTable.SelectEdited' | translate }}</mat-label>
                <mat-select [formControl]="editStatusCtrl">
                    <mat-option *ngFor="let enum of (editedStatus | async)" [value]="enum">{{ enum.value }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="px-2 pb-2">
                <mat-label>{{ 'ModCaseTable.SelectLocked' | translate }}</mat-label>
                <mat-select [formControl]="commentLockedCtrl">
                    <mat-option *ngFor="let enum of (commentLockedStatus | async)" [value]="enum">{{ enum.value }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="px-2 pb-2">
                <mat-label>{{ 'ModCaseTable.SelectDelete' | translate }}</mat-label>
                <mat-select [formControl]="markDeleteCtrl">
                    <mat-option *ngFor="let enum of (markedToDeleteStatus | async)" [value]="enum">{{ enum.value }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="px-2 pb-2">
                <mat-label>{{ 'ModCaseTable.SelectActive' | translate }}</mat-label>
                <mat-select [formControl]="punishmentActiveCtrl">
                    <mat-option *ngFor="let enum of (punishmentActiveStatus | async)" [value]="enum">{{ enum.value }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="px-2 pb-2">
                <app-date-picker [placeholder]="'ModCaseTable.FilterSince'"
                                 (dateChanged)="selectedSinceChanged($event)"></app-date-picker>
            </div>
            <div class="px-2 pb-2">
                <app-date-picker [placeholder]="'ModCaseTable.FilterUntil'"
                                 (dateChanged)="selectedUntilChanged($event)"></app-date-picker>
            </div>
            <div class="px-2 pb-2">
                <app-date-picker [placeholder]="'ModCaseTable.FilterPunishedSince'"
                                 (dateChanged)="selectedPunishmentSinceChanged($event)"></app-date-picker>
            </div>
            <div class="px-2 pb-2">
                <app-date-picker [placeholder]="'ModCaseTable.FilterPunishedBefore'"
                                 (dateChanged)="selectedPunishmentUntilChanged($event)"></app-date-picker>
            </div>
            <mat-form-field class="px-2 pb-2">
                <mat-label>{{ 'ModCaseTable.Search' | translate }}</mat-label>
                <input matInput type="text" autocomplete="off" [attr.disabled]="this.loading ? '' : null"
                [(ngModel)]="this.search" (ngModelChange)="searchChanged($event)">
            </mat-form-field>
            <div class="px-2 pb-2">
                <button mat-raised-button color="accent" class="" (click)="loadFirstCases()">
                    {{ 'ModCaseTable.ExecuteSearch' | translate }}
                </button>
            </div>
        </div>
        <div class="mat-h2 mb-2" *ngIf="this.casesTable?.fullSize">
            Count: {{ this.casesTable?.fullSize }}
        </div>
        <!-- Table -->
        <mat-spinner *ngIf="this.loading"></mat-spinner>
        <div class="d-flex flex-column" *ngIf="!this.loading">
            <app-modcase-card *ngFor="let case of this.showTable"
                [entry]="case" class="mb-2">
            </app-modcase-card>
            <div class="d-flex flex-row" *ngIf="this.showTable.length !== this.casesTable.fullSize">
                <div class="flex-grow-1"></div>
                <button mat-raised-button color="accent" (click)="loadNextPage()">Load more cases</button>
                <div class="flex-grow-1"></div>
            </div>
            <div class="card-container rounded m-2 mb-3" *ngIf="this.showTable.length === 0">
                <div class="card-container-body">
                    <span class="mat-h1">{{ 'NothingHere' | translate }}</span>
                    <p class="card-text">{{ 'ModCaseTable.NoMatches' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>