{% extends 'base.html.twig' %}
{% block body %}
    {% include 'navbar.html.twig' %}

    <div class="container">
        {% if modcase|default %}
            {% set severities = {
                0: 'Low',
                1: 'Normal',
                2: 'High',
                3: 'Epic'
            } %}
        <div class="modal fade" id="popupDeleteCase" tabindex="-1" role="dialog" aria-labelledby="popupDeleteCaseLabel"
             aria-hidden="true">

            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="popupDeleteCaseLabel">Delete this case?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="modcase-tab" data-toggle="tab" href="#modcase" role="tab" aria-controls="modcase"
                   aria-selected="true">Modcase</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments"
                   aria-selected="false">Comments ({{ modcase.comments|length }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="files-tab" data-toggle="tab" href="#files" role="tab" aria-controls="files"
                   aria-selected="true">Files ({{ files.names|default([])|length }})</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="modcase" role="tabpanel" aria-labelledby="modcase-tab">
               {% include 'modcase/singleview/case.html.twig' %}
            </div>
            <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
                {% include 'modcase/singleview/comments.html.twig' %}
            </div>
            <div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab">
                {% include 'modcase/singleview/files.html.twig' %}                
            </div>
        </div>
        {% endif %}
    </div>
{% endblock body %}
