<!-- Footer -->
<footer class="footer-copyright text-center font-small py-3 blue mt-2" id="footer">
    <div class="container d-flex flex-row flex-wrap justify-content-between">
        <!-- GitHub -->
        <div>
            <span>MASZ - A discord moderation tool</span>
        </div>
        <!-- GitHub -->
        <div>
            <a href="https://github.com/zaanposni/discord-masz" target="_blank">
                <i class="fab fa-github"></i> GitHub: zaanposni/discord-masz
            </a>
        </div>

        <!-- Copyright -->
        <div>
            <a href="/api/v1/legal" target="_blank">Legal and Privacy</a>
        </div>
    </div>
</footer>
<!-- Footer -->