{% extends 'base.html.twig' %}

{% block body %}


    <!-- Card -->
    <a type="button" class="btn" href="/api/v1/login" target=\"blank\ style="background-color: #7289DA;">Login with Discord</a>


{% endblock body %}