<nav class="mb-1 navbar navbar-expand-lg navbar-dark" style="background-color: #5E5B52;">
    <div class="container">
    <a class="navbar-brand" href="#">ModTool</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent-3" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-effect waves-light" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#">Guilds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#">ModCases</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item waves-effect waves-light" href="#">Profile</a>
                    <a class="dropdown-item waves-effect waves-light" href="#">Log out</a>
                </div>
            </li>
        </ul>
    </div>
    </div>
</nav>
<br>