<a class="font-weight-bold" routerLink="/guilds/{{entry.modCase.guildId}}/cases/{{ entry.modCase.caseId }}">
    <div class="card-container">
        <div class="card-container-body d-flex flex-wrap">
            <!-- Profile picture -->
            <div class="pictures-parent mr-3">
                <img
                    src="{{ entry.suspect?.imageUrl }}"
                    class="rounded-circle z-depth-0 user-image"
                    alt="avatar image"
                    height="96"
                    title="Suspect {{ entry.modCase.userId }}"
                    onerror="this.src='/assets/img/default_profile.png';"
                />
                <img
                    src="{{ entry.moderator?.imageUrl }}"
                    class="rounded-circle z-depth-0 mod-image"
                    alt="avatar image"
                    height="40"
                    title="Moderator {{ entry.modCase.modId }}"
                    onerror="this.style.display='none';"
                />
            </div>
            <div class="flex-shrink-1 d-flex flex-column flex-wrap">
                <!-- Title -->
                <div>
                    <span class="badge mat-h4 mb-0 mr-1" style="padding: .1rem .4rem"
                        [ngClass]="(entry.modCase.punishmentType === 0 || entry.modCase.punishmentActive === true) ? 'badge-danger' : 'badge-dark'"
                        [attr.title]="punishmentTooltip">
                        {{ punishment }}
                    </span>
                    <span title="{{ entry.modCase.title }}" class="mat-h2 mb-0">
                        {{ entry.suspect?.username || entry.modCase.username }}<ng-container *ngIf="entry.modCase.discriminator || entry.suspect">#{{ entry.suspect?.discriminator || entry.modCase.discriminator }}</ng-container><br/>
                        #{{ entry.modCase.caseId }} - {{ entry.modCase.title.length > 35 ? entry.modCase.title.slice(0, 35) + ' [...]' : entry.modCase.title }}
                    </span>
                </div>

                <!-- Labels -->
                <mat-chip-list aria-label="Fish selection" class="caselabels ml-1 mb-1" title="The case labels">
                    <mat-chip selected *ngFor="let label of entry.modCase.labels">{{ label }}</mat-chip>
                </mat-chip-list>

                <!-- Text -->
                <span title="{{ entry.modCase.description }}" style="word-wrap: break-word;">
                    {{ entry.modCase.description.length > 50 ? entry.modCase.description.slice(0, 50) + ' [...]' : entry.modCase.description }}
                </span>
            </div>
            <div class="flex-grow-1"></div>
            <div class="d-flex flex-column align-content-center">
                <ng-container>
                    <span class="text-black-50" style="text-align: right;">
                        <app-date-display [date]="entry.modCase.createdAt" [prefixKey]="'ModCaseCard.Created'"></app-date-display>
                    </span>
                    <span class="text-black-50" style="text-align: right;" *ngIf="entry.modCase.punishmentActive && entry.modCase.punishedUntil">
                        <app-date-display [date]="entry.modCase.punishedUntil" [prefixKey]="'ModCaseCard.Until'"></app-date-display>
                    </span>
                    <span class="text-black-50" style="text-align: right;" *ngIf="entry.modCase.markedToDeleteAt">
                        <app-date-display [date]="entry.modCase.markedToDeleteAt" [prefixKey]="'ModCaseCard.Delete'"></app-date-display>
                    </span>
                </ng-container>
                <div class="flex-grow-1"></div>
                <!-- Button -->
                <button mat-raised-button color="accent">
                    {{ 'ModCaseCard.ViewDetailsButton' | translate }}
                </button>
            </div>
        </div>
    </div>
</a>