.pictures-parent {
    position: relative;
    top: 0;
    left: 0;
}

.user-image {
    position: relative;
    top: 0;
    left: 0;
}

.mod-image {
    position: absolute;
    top: 56px;
    left: 56px;
}

a {
    color: unset;
    text-decoration: none; /* no underline */
}

.card-container {
    margin: unset!important;
}

::ng-deep .caselabels mat-chip {
    background-color: #33b5e5 !important;
}
