<div style="height: 50px;" class="dp-on-big-screen"></div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-left cw-75-100">
        <div class="d-flex flex-column p-4 mt-2">
            <div class="d-flex flex-row align-items-center mb-3">
                <div class="crs-ptr" style="font-size: 56px;" routerLink="/guilds/{{ this.guildId }}" title="back to guild">
                    <mat-icon [inline]="true">arrow_back_ios</mat-icon>
                </div>
                <span class="mat-display-2 mb-0" style="word-break: break-all;">
                    Your ban appeal
                </span>
            </div>
            <div class="mb-5">
                Answer these questions to complete your ban appeal.<br/>
                You can skip questions if you want to.<br/>
                You will be able to view the status of your appeal on this website everytime.
            </div>
            <ng-container *ngIf="this.questions.loading">
                <mat-spinner></mat-spinner>
            </ng-container>
            <ng-container *ngIf="!this.questions.loading">
                <div class="d-flex flex-column mb-4">
                    <app-guild-appeal-question *ngFor="let question of this.questions.content"
                                                (answerEvent)="saveAnswer($event)"
                                                [question]="question"
                                                [mode]="AppealStructureMode.USE">
                    </app-guild-appeal-question>
                </div>
                <div class="d-flex flex-row">
                    <div class="flex-grow-1"></div>
                    <button mat-raised-button color="accent"
                        class="flex-shrink-0 mb-2"
                        (click)="createAppeal()">
                        Save
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</div>
