<h1 mat-dialog-title>Are you sure?</h1>
<div mat-dialog-content>
    <mat-checkbox matInput [(ngModel)]="config.sendNotification">
        {{ 'CaseDeleteDialog.SendPublicNotification' | translate }}
    </mat-checkbox><br/>
    <mat-checkbox matInput [(ngModel)]="config.forceDelete" *ngIf="this.config.isAdmin">
        {{ 'CaseDeleteDialog.ForceDelete' | translate }}
    </mat-checkbox>
</div>
<div mat-dialog-actions class="w-100 d-flex flex-row justify-content-center">
    <button mat-raised-button color="accent" [mat-dialog-close]="false" cdkFocusInitial>
        {{ 'CaseDeleteDialog.Cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">
        {{ 'CaseDeleteDialog.Confirm' | translate }}
    </button>
</div>
