<div class="d-flex flex-column w-100">
    <div class="p-2">
        <div class="moderations">
            <div class="card-container rounded mb-3" *ngIf="this.maxCount === 0">
                <div class="card-container-body">
                    <span class="mat-h1">
                        {{ 'NothingHere' | translate }}
                    </span>
                    <p class="card-text">
                        {{ 'AutoModTable.NoMatches' | translate }}
                    </p>
                </div>
            </div>
            <div *ngFor="let moderation of this.moderationEvents" class="d-flex flex-column">
                <app-automod-card [moderation]="moderation" class="mb-2"></app-automod-card>
            </div>
        </div>
        <div id="loadMoreData" *ngIf="this.maxCount > 50 && this.startPage * 50 < this.maxCount">
            <div class="d-flex" style="align-items: center">
                <hr class="spacer-type1 flex-grow-1"/>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" (click)="loadMoreData()">
                    {{ 'AutoModTable.LoadMoreEvents' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>