<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            {{ encore_entry_link_tags('bootstrap-css') }}
        {{ encore_entry_link_tags('style-css') }}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('bootstrap-js') }}
    {% endblock %}
</html>
