<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active" style="background-color: #2f3a3f;">
        <h1><a href="index.html" class="logo">WI</a></h1>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><span class="fa fa-home"></span> Start</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-user"></span> Profile</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sticky-note"></span> Cases</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-cogs"></span> Settings</a>
            </li>
            <li>
                <a href="#" style="color: #ff5552;"><span class="fa fa-paper-plane" style="color: #ff5552;"></span> Logout</a>
            </li>
        </ul>

    </nav>

    <div id="content" class="p-4 p-md-5">
        <h3 style="font-weight: 500">All ModCases (1024)</h3>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>CaseID</th>
                <th>UserID</th>
                <th>Grund</th>
                <th>Moderator</th>
                <th>Zeit</th>
                <th>Aktionen</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Hallo</td>
                <td>Hallo</td>
                <td><button type="button" class="btn btn-primary">Bearbeiten</button>
                    <button type="button" class="btn btn-danger">Löschen</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Hallo</td>
                <td>Hallo</td>
                <td><button type="button" class="btn btn-primary">Bearbeiten</button>
                    <button type="button" class="btn btn-danger">Löschen</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Hallo</td>
                <td>Hallo</td>
                <td><button type="button" class="btn btn-primary">Bearbeiten</button>
                    <button type="button" class="btn btn-danger">Löschen</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>