
    <nav id="sidebar" class="active" style="background-color: #2f3a3f;">
        <h1><a href="index.html" class="logo">WI</a></h1>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><span class="fa fa-home"></span> Start</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-user"></span> Profile</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sticky-note"></span> Cases</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-cogs"></span> Settings</a>
            </li>
            <li>
                <a href="#" style="color: #ff5552;"><span class="fa fa-paper-plane" style="color: #ff5552;"></span> Logout</a>
            </li>
        </ul>

    </nav>
