<div class="d-flex flex-row align-items-baseline conditional-fc conditional-center">
    <span class="mat-h4 font-weight-bold mb-0 pt-3 pb-2">
        <mat-checkbox
          class="auditlog-checkbox"
          [disabled]="this.definition?.comingSoon ?? false"
          [(ngModel)]="this.enableConfig"
          (ngModelChange)="onRuleToggle($event)"
          [labelPosition]="'after'">
          {{ 'GuildAuditLogConfig.' + definition.key + ".title" | translate }}
        </mat-checkbox>
    </span>
    <form [formGroup]="configForm" class="d-flex flex-row align-items-baseline conditional-fc conditional-center" *ngIf="enableConfig">
        <mat-form-field class="ml-4">
            <mat-label>{{ 'GuildAuditLogConfig.TargetChannel' | translate }}</mat-label>
            <mat-select formControlName="channel" [disabled]="this.definition?.comingSoon ?? false">
            <mat-option *ngFor="let channel of this.guildChannels"
            [value]="channel.id" >#{{channel.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="ml-4">
            <mat-label>{{ 'GuildAuditLogConfig.PingRoles' | translate }}</mat-label>
            <mat-select formControlName="pingRoles" multiple [disabled]="this.definition?.comingSoon ?? false">
            <mat-option *ngFor="let role of this.guild?.roles"
            [value]="role.id" [style.color]="generateRoleColor(role)">{{role.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="ml-4" *ngIf="this.definition.roleFilter">
            <mat-label>{{ 'AutomodConfig.ExcludeRoles' | translate }}</mat-label>
            <mat-select formControlName="excludeRoles" multiple>
            <mat-option *ngFor="let role of this.guild?.roles"
            [value]="role.id" [style.color]="generateRoleColor(role)">{{role.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="ml-4" *ngIf="this.definition.channelFilter">
            <mat-label>{{ 'AutomodConfig.ExcludeChannels' | translate }}</mat-label>
            <mat-select formControlName="excludeChannels" multiple>
            <mat-option *ngFor="let channel of this.guildChannels"
            [value]="channel.id" >#{{channel.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div class="mat-h4 mb-0 ml-4 text-warning" *ngIf="this.definition.comingSoon">
        {{ 'GuildAuditLogConfig.ComingSoon' | translate }}
    </div>
</div>