
<div class="card-container flex-grow-1">
    <div class="card-container-body d-flex flex-column">
        <div class="d-flex flex-row flex-grow-1">
            <div class="mat-display-1 mb-0" style="white-space: pre-wrap; word-wrap: anywhere">
                {{ question?.question }}
            </div>

            <div class="flex-grow-1"></div>

            <div class="d-flex flex-row" *ngIf="mode === AppealStructureMode.EDIT">
                <div class="crs-ptr mr-2" (click)="edit()">
                    <mat-icon>edit</mat-icon>
                </div>
                <div class="crs-ptr mr-2" (click)="delete()">
                    <mat-icon>delete</mat-icon>
                </div>
                <div class="example-handle" cdkDragHandle>
                    <mat-icon>drag_handle</mat-icon>
                </div>
            </div>
        </div>
        <div *ngIf="mode === AppealStructureMode.VIEW">
            <mat-divider class="mt-4 mb-2"></mat-divider>
            <div>
                {{ answer?.answer }}
            </div>
        </div>
        <form [formGroup]="answerForm" *ngIf="mode === AppealStructureMode.USE">
            <mat-divider class="mt-4 mb-2"></mat-divider>
            <mat-form-field class="d-flex flex-column mr-2">
                <mat-label>Your answer</mat-label>
                <textarea matInput formControlName="answer"></textarea>
                <div *ngIf="newAnswer?.invalid && (newAnswer?.dirty || newAnswer?.touched)" class="alert alert-danger my-2">
                    <div *ngIf="newAnswer?.errors?.['required']">
                        {{ 'Forms.FieldRequired' | translate }}
                    </div>
                    <div *ngIf="newAnswer?.errors?.['maxlength']">
                        {{ 'Forms.MaxLength' | translate:maxLength10240 }}
                    </div>
                </div>
            </mat-form-field>
        </form>
    </div>
</div>