<div class="d-flex flex-column">
    <div class="d-flex flex-row flex-wrap mb-5" *ngIf="(this.user | async)">
        <div class="flex-grow-1"></div>
            <img
                src="{{ (this.user | async)?.imageUrl }}"
                class="rounded-circle z-depth-0 mr-3"
                alt="avatar"
                height="128"
                onerror="this.src='/assets/img/default_profile.png';"
            />
        <div class="d-flex flex-column font-weight-bold">
            <span class="display-4" style="word-break: break-all;">
                {{ (this.user | async)?.username }}#{{ (this.user | async)?.discriminator }}
            </span>
            <span class="text-black-50">{{ (this.user | async)?.id }}</span>
        </div>
        <div class="flex-grow-1"></div>
    </div>
    <fieldset class="border border-gray rounded pl-4 pr-4 pb-3">
        <legend style="width: unset; margin-bottom: unset;" class="pr-1 pl-1">Templates by this user</legend>
        <div class="d-flex flex-row flex-wrap">
            <app-template-card class="mr-4" [template]="template" [userId]="currentUser?.discordUser?.id"
             (useTemplate)="useTemplate(template.caseTemplate)" (reload)="reloadTemplates($event)"
             *ngFor="let template of (this.templates | async)">
            </app-template-card>
            <div class="card-container" *ngIf="(this.templates | async)?.length === 0">
                <div class="card-container-body d-flex flex-column flex-wrap" style="padding-bottom: 1rem;">
                    <span>No templates yet.</span>
                </div>
            </div>
        </div>
        <app-loading-spinner *ngIf="!(this.templates | async)"></app-loading-spinner>
    </fieldset>
</div>