<h1 mat-dialog-title>{{ 'UsermapEditDialog.EditUsermap' | translate }}</h1>
<div mat-dialog-content>
    <mat-form-field class="w-100">
        <mat-label>{{ 'UsermapEditDialog.Description' | translate }}</mat-label>
        <textarea matInput type="text" [(ngModel)]="settings.reason" [attr.rows]="this.initRows" class="w-100"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions class="w-100 d-flex flex-row justify-content-center">
    <button mat-raised-button color="accent" [mat-dialog-close]="false" cdkFocusInitial>{{ 'UsermapEditDialog.Cancel' | translate }}</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="!settings.reason?.trim()">{{ 'UsermapEditDialog.Confirm' | translate }}</button>
</div>