<ng-container *ngIf="this.guild">
    <img
        *ngIf="this.guild?.icon"
        [attr.width]="this.width"
        [attr.height]="this.height"
        src="https://cdn.discordapp.com/icons/{{ guild?.id }}/{{ guild?.icon }}.png"
        alt="Guild {{ guild?.name }}"
        class="rounded-circle"
        onerror="this.src='/assets/img/default_profile.png';"
    />
    <div *ngIf="!this.guild?.icon" class="guildicon-missing mat-display-1 mb-0 rounded-circle border"
        [style.width]="this.width" [style.height]="this.height">
        {{ guild?.name?.charAt(0) }}
    </div>
</ng-container>
<ng-container *ngIf="!this.guild">
    <img
        [attr.width]="this.width"
        [attr.height]="this.height"
        src="/assets/img/default_profile.png"
        alt="guild image"
        class="rounded-circle"
    />
</ng-container>