<ng-container *ngIf="this.guild">
    <img
        *ngIf="guild?.iconUrl"
        [attr.width]="this.width"
        [attr.height]="this.height"
        src="{{ guild?.iconUrl}}"
        alt="Guild {{ guild?.name }}"
        class="rounded-circle"
        onerror="this.src='/assets/img/default_profile.png';"
    />
    <div *ngIf="!this.guild?.iconUrl" class="guildicon-missing mat-h1 mb-0 rounded-circle"
        [class.border]="this.showBorder"
        [class.custom-dark-border]="this.darkBorder"
        [class.static-background]="this.staticBackground"
        [style.width]="this.width" [style.height]="this.height">
        {{ guild?.name?.charAt(0) }}
    </div>
</ng-container>
<ng-container *ngIf="!this.guild">
    <img
        [attr.width]="this.width"
        [attr.height]="this.height"
        src="/assets/img/default_profile.png"
        alt="guild image"
        class="rounded-circle"
    />
</ng-container>