.guildicon-missing {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
}

.guildicon-missing.border {
    border-width: 2px !important;
    border-color: rgb(66, 66, 66) !important;
}

.guildicon-missing.border.custom-dark-border {
    border-color: rgb(48, 48, 48) !important;
}

.guildicon-missing.border.static-background,
.guildicon-missing.border:hover {
    background-color: rgb(66, 66, 66) !important;
}

.guildicon-missing.border.custom-dark-border.static-background,
.guildicon-missing.border.custom-dark-border:hover {
    background-color: rgb(48, 48, 48) !important;
}
