.infobox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: rgb(232, 230, 227);
  min-height: 132px;
}

.bg-g-blue {
  background: linear-gradient(135deg, #0522b4 0%, #041777 100%);
}

.bg-g-red {
  background: linear-gradient(135deg, #a8041d 0%, #7c0315 100%);
}

.bg-g-orange {
  background: linear-gradient(135deg, #d35908 0%, #ad4804 100%);
}

.bg-g-pink {
  background: linear-gradient(135deg, #7502b3 0%, #580286 100%);
}

.bg-g-green {
  background: linear-gradient(135deg, #22550c 0%, #173b07 100%);
}

.infobox-body {
  min-height: 1px;
  padding: 1.25rem;
  padding-top: 1rem;
}

.infobox-icon {
  margin-left: auto;
  flex-shrink: 0;
}

::ng-deep .caselabels mat-chip {
  background-color: #33b5e5 !important;
}

.infobox .mat-h3, #case-view-description, .casecomment {
  font: 400 16px/20px Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep #custom-green-spinner.mat-progress-spinner circle, .mat-spinner circle {
  stroke: green;
}
